In [2]:
import pandas as pd

In [18]:
trip_info = pd.read_csv('../kakomap_crwal/data/2020-07-02_18_46_travel_crawl.csv', sep='\t')
trip_info = trip_info.drop('Unnamed: 0', axis=1)
trip_info = trip_info.rename(columns={'loc_name':'지점명'})
# trip_info

In [19]:
trip_info[trip_info['지점명'].map(lambda x:'다대' in x)]

        지점명             address  num_review   latitude   longitude
17  다대포해수욕장  부산광역시 사하구 몰운대1길 14       64700  35.045786  128.968704

In [17]:
start_bucks_loc = pd.read_excel('/Users/dhkim/PycharmProjects/starbucksDT/total/20200720_starbucksDT_beformNorm_transfromAdd.xlsx')
# start_bucks_loc = start_bucks_loc.drop('Unnamed: 0', axis=1)
# start_bucks_loc

In [94]:
import numpy as np

In [95]:

def find_min_dist_starbucks(groupped_df, basis_name='star_name', min_numbers=2, source_keep_col=None,
                            target_keep_col=None):
    new_df = {}
    groupped_df = groupped_df.sort_values(by='distance').reset_index(drop=True)
    new_df['distance'] = groupped_df.loc[:min_numbers]['distance']
    new_df[basis_name] = groupped_df.loc[:min_numbers][basis_name]
    for col in source_keep_col:
        new_df[col] = groupped_df.loc[:min_numbers][col]
    for col in target_keep_col:
        new_df[col] = groupped_df.loc[:min_numbers][col]
#     if min_numbers > 1:
#         print('this df contains column which has multiple list, please use [column_list_to_multiple_rows] function.')
#         print()
    return pd.Series(new_df, index=list(set([basis_name, 'distance']) | set(source_keep_col) | set(target_keep_col)))


def column_list_to_multiple_rows(df, base_column: str, multi_column_names: list):
    df_dict = {base_column: np.repeat(df[base_column].values, df[multi_column_names[0]].str.len())}
    for column_name in multi_column_names:
        df_dict[column_name] = np.concatenate(df[column_name].values)
    return pd.DataFrame(df_dict)

In [22]:
target_df = '/Users/dhkim/PycharmProjects/kakomap_crwal/data/2020-07-02_18_46_travel_crawl.csv'
target_df = pd.read_csv(target_df, sep='\t')
target_df = target_df.drop('Unnamed: 0', axis=1)
# source_df = './starbucksDT_location_info_20200707.csv'
# source_df = pd.read_csv(source_df, sep='\t')
# source_df = source_df.drop('Unnamed: 0', axis=1)

In [21]:
source_df = pd.read_excel('/Users/dhkim/PycharmProjects/starbucksDT/data/예측/스타벅스DT 신규입점데이터.xlsx')
source_df = source_df.iloc[1:2].reset_index(drop=True).rename(columns={'name':'지점명'})
source_df

,INDEX,지점명,분류,위도,경도,M,Tu,W,Th,Fr,...,최근접_대기업_거리,최근접_대기업_자본금,1km내_대기업_개수,2km내_대기업_개수,3km내_대기업_개수,5km내_대기업_개수,동단위_아파트_세대수,최근접_대기업명,공시지가_3년치_평균,공시지가_3년치_상승률_평균
0,0.2,미래전주만성DT,사업체,35.8514,127.081,41369.0,39423.0,43057.0,43019.0,42723.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3751.0,국민연금공단본부,160.0,-18.0

In [97]:
if len(set(target_df.columns).intersection(set(source_df.columns))):
    rename_map = {}
    for col_name in list(target_df.columns):
        if col_name in list(source_df.columns) and (col_name not in ['latitude', 'longitude']):
            rename_map[col_name] = col_name + '2'
    target_df = target_df.rename(columns=rename_map)
source_basis = source_df.columns[0]
target_basis = target_df.columns[0]
source_keep_col = ['address']
target_keep_col = list(set(target_df.columns) - set(['latitude', 'longitude', target_basis]))

In [6]:
src_tar_distance = pd.read_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/Starbucks_btw_Tourist_distance_raw.csv', sep='\t')
src_tar_distance = src_tar_distance.drop('Unnamed: 0', axis=1)

In [7]:
distance_number = 2
save_name = 'Starbucks_btw_Tourist'

In [23]:

def find_min_dist_starbucks(groupped_df, basis_name='star_name', min_numbers=2,
                            target_keep_col=None):
    new_df = {}
    groupped_df = groupped_df.sort_values(by=['distance','-num_review']).reset_index(drop=True)
    new_df['distance'] = groupped_df.loc[:min_numbers]['distance']
#     new_df[basis_name] = groupped_df.loc[:min_numbers][basis_name]
#     for col in source_keep_col:
#         new_df[col] = groupped_df.loc[:min_numbers][col]
    for col in target_keep_col:
        new_df[col] = groupped_df.loc[:min_numbers][col]
#     if min_numbers > 1:
#         print('this df contains column which has multiple list, please use [column_list_to_multiple_rows] function.')
    return pd.Series(new_df, index=target_keep_col+['distance'])


def column_list_to_multiple_rows(df, base_columns: list, multi_column_names: list):
    df_dict = {}
    for base_column in base_columns:
        df_dict[base_column] = np.repeat(df[base_column].values, df[multi_column_names[0]].str.len())
    for idx, column_name in enumerate(multi_column_names):
        df_dict[column_name] = np.concatenate(df[column_name].values)
    return pd.DataFrame(df_dict)

In [80]:
target_cols = ['지점명', '지점명2', 'num_review']

In [31]:
source_cols = ['지점명', 'address']

In [32]:
source_basis = '지점명'

In [55]:
src_tar_distance['-num_review'] = src_tar_distance['num_review'].map(lambda x:-x)

In [59]:
src_tar_distance = src_tar_distance.sort_values(['-num_review', 'distance']).reset_index(drop=True)

In [63]:
src_tar_distance.columns
distance_number = 3

In [89]:
src_tar_distance2 = src_tar_distance.groupby(source_cols).apply(
    lambda x: find_min_dist_starbucks(x, source_basis, distance_number, target_cols))

/Users/dhkim/.pyenv/versions/3.7.0/envs/xai/lib/python3.7/site-packages/pandas/core/groupby/groupby.py:4315: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  stacked_values = np.vstack(map(np.asarray, values))

In [82]:
src_tar_distance2 = src_tar_distance2.reset_index(drop=True)

In [83]:
src_tar_distance2.columns

Index(['지점명', '지점명2', 'num_review', 'distance'], dtype='object')

In [69]:
['distance'] + target_cols

['distance', '지점명', '지점명2']

In [75]:
source_cols

['지점명', 'address']

In [72]:
import numpy as np

In [70]:
src_tar_distance2 = src_tar_distance2.reset_index()

In [93]:
if distance_number > 1:
    src_tar_distance2 = column_list_to_multiple_rows(src_tar_distance2, ['지점명'], ['distance'] + target_cols)
src_tar_distance2 = src_tar_distance2.reset_index()
# src_tar_distance2.to_csv(f'{save_name}_distance.csv', sep='\t')

In [42]:
def my_fun(groupped_df):
    new_dfs = {}
#     print(groupped_df)
    groupped_df = groupped_df.reset_index(drop=True)
    groupped_df_max_review = groupped_df.iloc[np.argmax(groupped_df['num_review']),:]
    groupped_df_min_dist = groupped_df.iloc[np.argmin(groupped_df['distance']),:]
    for i, col in enumerate(groupped_df.columns):
        new_dfs[col] = [groupped_df_max_review.values[i], groupped_df_min_dist.values[i]]
    
    return pd.Series(new_dfs)

def my_fun2(groupped_df):
    r,c = groupped_df.shape
    groupped_df = groupped_df.reset_index(drop=True)
    groupped_df['temp'] = groupped_df.apply(lambda row:row['num_review']/(row['distance']+1e-3), axis=1)
    groupped_df = groupped_df.sort_values('temp', ascending=False).reset_index(drop=True)
    groupped_df_max_review_sort = groupped_df.sort_values('num_review', ascending=False).reset_index(drop=True)
    groupped_df_min_dist_sort = groupped_df.sort_values('distance', ascending=True).reset_index(drop=True)
    
    for idx in range(4):
        groupped_df_max_temp = groupped_df_max_review_sort.loc[idx, :]
#         groupped_df_min_dist = groupped_df_min_dist_sort.loc[idx, :]
        select_values = groupped_df_max_temp.values
        select_index = groupped_df_max_temp.index
        
#         temp = select_values[-1] / select_values[1]
        if (select_values[-1] < 5000) or (select_values[1] > 3.2):
            continue
            
#         if (groupped_df_max_temp['distance'] > 3.5) or (groupped_df_max_temp['num_review']):
#             continue
        if (select_values[-1] ==0):
            continue
        else:
            break
            
    if (select_values[-1] ==0):
        select_values = groupped_df_min_dist_sort.loc[0, :].values
        select_index = groupped_df_min_dist_sort.loc[0, :].index
        
    if (np.sum(groupped_df.loc[:, 'num_review']) == 0):
        print(np.sum(groupped_df.loc[:, 'num_review']))
    
    return pd.Series(select_values, index = select_index)

In [344]:
src_tar_distance2[src_tar_distance2.지점명=='스타벅스 제주성산DT점']

              지점명  distance       지점명2  num_review
844  스타벅스 제주성산DT점  0.000000      광치기해변         386
845  스타벅스 제주성산DT점  0.736404       신양마을       20215
846  스타벅스 제주성산DT점  1.578392  신양 섭지코지해변       45084
847  스타벅스 제주성산DT점  1.945306       오조마을       19651

In [45]:
src_tar_distance2 = start_tar_distance

In [46]:
# src_tar_distance2 = src_tar_distance2.drop('index', axis=1)
src_tar_distance3 = src_tar_distance2.groupby('지점명').apply(my_fun2).reset_index(drop=True)
# src_tar_distance4 = column_list_to_multiple_rows(src_tar_distance3, ['지점명'], ['지점명', '지점명2', 'num_review', 'distance'] )

KeyError: 'num_review'

In [349]:
src_tar_distance3 = src_tar_distance3.drop('temp', axis=1)
src_tar_distance3 = src_tar_distance3.rename(columns={'distance':'관광지거리', '지점명2':'관광지명', 'num_review':'관광지리뷰수'})

In [351]:
src_tar_distance3 = src_tar_distance3[['지점명','관광지명', '관광지리뷰수', '관광지거리']]
src_tar_distance3.head()

              지점명        관광지명  관광지리뷰수     관광지거리
0    스타벅스 강동구청DT점     광진교 8번가   70728  1.569519
1    스타벅스 강동암사DT점   서울 암사동 유적   45577  0.618279
2    스타벅스 강릉송정DT점        안목해변   53753  2.146935
3  스타벅스 경기광주송정DT점  광주 조선백자 요지   32675  2.511173
4  스타벅스 경기광주신현DT점        율동공원  101122  2.560675

In [352]:
src_tar_distance3[['지점명','관광지명', '관광지리뷰수', '관광지거리']].to_excel('starbucksDT_20200721_travel_list.xlsx', index=False)

In [346]:
src_tar_distance2[src_tar_distance2.지점명.map(lambda x:'스타벅스 제주성산DT점' in x)]

              지점명  distance       지점명2  num_review
844  스타벅스 제주성산DT점  0.000000      광치기해변         386
845  스타벅스 제주성산DT점  0.736404       신양마을       20215
846  스타벅스 제주성산DT점  1.578392  신양 섭지코지해변       45084
847  스타벅스 제주성산DT점  1.945306       오조마을       19651

In [347]:
src_tar_distance3.sort_values('num_review', ascending=False)

                 지점명  distance                 지점명2  num_review           temp
191     스타벅스 인천강화DT점  0.436224                  강화도      262135  599543.530956
217       스타벅스 종암DT점  0.684515                홍릉수목원      234633  342272.523250
9      스타벅스 경주보문로DT점  0.378324           경주월드 어뮤즈먼트      216315  570264.249237
96       스타벅스 동부산DT점  1.235527           해동 용궁사(부산)      176960  143110.533732
110      스타벅스 백석역DT점  2.598326               일산호수공원      137932   53064.515787
142     스타벅스 아산방축DT점  0.889909               온양온천지구      137492  154327.788869
46      스타벅스 금정구청DT점  2.325770                  허심청      134579   57839.419836
161     스타벅스 온천장역DT점  0.615337                  허심청      134579  218352.967427
117   스타벅스 북수원IC DT점  1.963104  수원 화성 [유네스코 세계문화유산]      111623   56831.501375
215     스타벅스 제주중문DT점  0.349134                천제연폭포      110149  314590.623803
100       스타벅스 동해DT점  0.510683             천곡황금박쥐동굴      106386  207914.015204
4     스타벅스 경기광주신현DT점  2.560675                 율동공원      101122   39474.954099
163     스타벅스 용인동백DT점  2.446176                한국민속촌       93313   38130.886942
165     스타벅스 용인보라DT점  1.522793                한국민속촌       93313   61237.310061
166     스타벅스 용인상하DT점  1.945250                한국민속촌       93313   47945.011331
118   스타벅스 북오산IC DT점  2.399612          경기도립 물향기수목원       91382   38066.125945
214     스타벅스 제주용담DT점  2.638941                  용두암       90099   34129.168546
67      스타벅스 대구상동DT점  0.326725              수성못 유원지       89180  272118.681312
85      스타벅스 대전도안DT점  0.522182               유성온천지구       82328  157360.046540
249   스타벅스 해운대달맞이DT점  0.649213             해운대 달맞이길       78917  121371.034035
119     스타벅스 사상주례DT점  2.983974               삼락생태공원       77967   26119.826963
124    스타벅스 송파나루역DT점  0.999136         송파나루공원(석촌호수)       72128   72118.179381
0       스타벅스 강동구청DT점  1.569519              광진교 8번가       70728   45034.780760
35      스타벅스 광주지원DT점  1.919375              무등산국립공원       65789   34258.420368
43        스타벅스 구의DT점  0.649568             서울어린이대공원       65653  100916.378159
60       스타벅스 다대포DT점  1.098382              다대포해수욕장       64700   58851.266396
47     스타벅스 금정남산동DT점  3.079836              범어사(부산)       63349   20562.274784
106     스타벅스 목포북항DT점  1.617209                  유달산       62088   38368.342495
39     스타벅스 구미금오산DT점  2.179587              금오산도립공원       61351   28135.078430
186     스타벅스 이천사음DT점  1.173760               이천도예마을       58718   49982.966170
..               ...       ...                  ...         ...            ...
5     스타벅스 경기광주쌍령DT점  1.518413              백련암(경기)       19780   13018.187307
203     스타벅스 전북정읍DT점  0.574080              일광사(정읍)       19741   34327.378328
150     스타벅스 양주광사DT점  3.522991                 양주향교       19171    5440.138755
26     스타벅스 광주신세계DT점  0.493305                  화담사       18870   38174.822848
58     스타벅스 남양주연평DT점  2.275376             봉영사(남양주)       18360    8065.451495
91     스타벅스 대전한남대DT점  1.179594                  쌍청당       18062   15299.078693
242       스타벅스 포천DT점  2.872044               이항복선생묘       17991    6261.999602
66      스타벅스 대구만촌DT점  0.255050                  모명재       17765   69380.896360
44   스타벅스 국립대구박물관DT점  1.816198                  모명재       17765    9776.039073
216       스타벅스 제천DT점  0.957163       제천 엽연초생산조합 구사옥       17484   18247.420976
82     스타벅스 대전IC DT점  1.012991             박팽년선생유허비       17225   16987.332247
89     스타벅스 대전터미널DT점  1.642195             박팽년선생유허비       17225   10482.627598
74      스타벅스 대구월곡DT점  0.579752                  열락당       16333   28123.869163
68      스타벅스 대구상인DT점  1.064035                  열락당       16333   15335.648758
92      스타벅스 동대구로DT점  1.787965       대구 평화시장 닭똥집 골목       15592    8715.655233
141       스타벅스 신정DT점  1.002890                국제선센터       11468   11423.560910
162    스타벅스 용인김량장DT점  4.570105                  화운사        9170    2006.079592
167     스타벅스 용인시청DT점  1.589009                  화운사        9170    5767.261603
151    스타벅스 양주덕정역DT점  4.163957              회암사(양주)        7652    1837.234001
61      스타벅스 당진시곡DT점  4.609146                 당진향교        2332     505.840835
87     스타벅스 대전신탄진DT점  2.600926           It's 수 홍보관        2127     817.471333
49      스타벅스 김천시청DT점  2.241575                 원계서원        1905     849.469798
221     스타벅스 창원호계DT점  3.422777             두곡서원(창원)        1399     408.613005
131     스타벅스 수원권선DT점  2.587809             실내바다낚시 휴        1329     513.363404
55      스타벅스 김해진영DT점  3.699620                 봉하마을         886     239.419345
99      스타벅스 동탄능동DT점  3.102012           아스달연대기 세트장           0       0.000000
224     스타벅스 천안불당DT점  0.578645             에코힐링 황톳길           0       0.000000
201     스타벅스 전남광양DT점  5.105623              구봉산 전망대           0       0.000000
40      스타벅스 구미도량DT점  2.803801            금오랜드 놀이동산           0       0.000000
42      스타벅스 구미시청DT점  2.341995            금오랜드 놀이동산           0       0.000000

[252 rows x 5 columns]

In [313]:
src_tar_distance5 = src_tar_distance4[src_tar_distance4['num_review'].map(lambda x:False if x>0 else True)]

In [158]:
src_tar_distance4[src_tar_distance4['num_review'].map(lambda x:False if x>0 else True)]

                  지점명                   지점명2  num_review  distance
29         스타벅스 공릉DT점               서울생활사박물관           0  0.239760
79      스타벅스 구미금오산DT점              금오랜드 놀이동산           0  1.233961
81       스타벅스 구미도량DT점              금오랜드 놀이동산           0  2.803801
85       스타벅스 구미시청DT점              금오랜드 놀이동산           0  2.341995
121       스타벅스 다대포DT점        몰운대 (부산 국가지질공원)           0  0.000000
179     스타벅스 대전터미널DT점           철도관사촌(솔랑시울길)           0  1.489481
199      스타벅스 동탄능동DT점             아스달연대기 세트장           0  3.102012
203  스타벅스 리버사이드팔당DTR점               아쿠아필드 하남           0  2.726833
217        스타벅스 밀양DT점    미리미동국 (진장 문화예술 플랫폼)           0  0.627296
235    스타벅스 북수원IC DT점                  만석거공원           0  0.744404
237    스타벅스 북오산IC DT점             아스달연대기 세트장           0  0.509645
243      스타벅스 서산예천DT점            중앙호수공원 카페거리           0  0.867473
253      스타벅스 수영강변DT점         장산 (부산 국가지질공원)           0  1.242927
257     스타벅스 수원IC DT점           광교 프라이부르크전망대           0  1.925136
267      스타벅스 수원세류DT점  탑교육문화원(찾아가는 VR 체험 버스)           0  0.866618
283        스타벅스 신정DT점               무중력지대 양천           0  0.415391
341   스타벅스 울산도산사거리DT점                울산 신화마을           0  1.324542
365     스타벅스 의정부신곡DT점                 아일랜드캐슬           0  2.292341
371    스타벅스 의정부회룡역DT점                 아일랜드캐슬           0  1.698567
403      스타벅스 전남광양DT점                구봉산 전망대           0  5.105623
449      스타벅스 천안불당DT점               에코힐링 황톳길           0  0.578645
477        스타벅스 평내DT점               현대태권도디펜스           0  0.591346
487      스타벅스 포항쌍용DT점             철길숲 & 불의정원           0  0.952911
491      스타벅스 포항죽도DT점             철길숲 & 불의정원           0  1.483233
501        스타벅스 화곡DT점           150년 수령 느티나무           0  0.572333

In [91]:
# src_tar_distance2.to_csv(f'{save_name}_distance.csv', sep='\t')

In [92]:
src_tar_distance2

,index,지점명,address,distance,address2,num_review,지점명2
0,0,스타벅스 강동구청DT점,성내동 550,0.994486,서울특별시 송파구 풍납동,62419,서울 풍납동 토성
1,1,스타벅스 강동구청DT점,성내동 550,1.038898,서울특별시 송파구 올림픽로 424,43230,서울 몽촌토성
2,2,스타벅스 강동구청DT점,성내동 550,1.070494,서울특별시 강동구 천호3동 448-49호 (천호동 마을마당 내),6187,해공신익희선생동상
3,3,스타벅스 강동암사DT점,암사동 441-12,0.357707,서울특별시 강동구 암사동,22977,구암서원 터(구암정)
4,4,스타벅스 강동암사DT점,암사동 441-12,0.514347,서울특별시 강동구 고덕로 96,12,K-Taekwon school 태권도체험
...,...,...,...,...,...,...,...
742,742,스타벅스 화곡DT점,화곡동 772-67,0.805581,서울특별시 양천구 목동로25길 23,0,양천구 로데오거리
743,743,스타벅스 화곡DT점,화곡동 772-67,0.946171,서울특별시 양천구 목동,28873,용왕정
744,744,스타벅스 화성병점DT점,진안동 873-4,2.730614,경기도 오산시 양산동,25398,오산 독산성과 세마대지
745,745,스타벅스 화성병점DT점,진안동 873-4,2.945686,경기도 화성시 용주로 136,32433,용주사(화성)
746,746,스타벅스 화성병점DT점,진안동 873-4,3.614236,경기도 오산시 독산성로269번길 144,24681,보적사(오산)

In [52]:
source_cols

['지점명', 'address']

In [ ]:
if distance_number > 1:
    src_tar_distance2 = column_list_to_multiple_rows(src_tar_distance2, source_basis, list(set([target_basis, 'distance']) | set(target_keep_col) | set(source_keep_col)))
src_tar_distance2 = src_tar_distance2.reset_index()
src_tar_distance2.to_csv(f'data/{save_name}_distance.csv', sep='\t')

In [44]:
star_bucks = star_bucks[['지점명', 'address', 'latitude_y', 'longitude_y']]
star_bucks = star_bucks.rename(columns={'latitude_y':'latitude', 'longitude_y':'longitude'})
star_bucks.to_csv('starbucksDT_location_info_20200703.csv', sep='\t')

In [2]:
import pandas as pd

/Users/dhkim/.pyenv/versions/3.7.0/envs/xai/lib/python3.7/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [7]:
x = pd.read_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/2020-07-02_18_46_travel_crawl.csv', sep='\t')
x = x.drop('Unnamed: 0', axis=1)
x = x.rename(columns={'loc_name':'지점명'})

In [65]:
src_tar_distance.loc[src_tar_distance.loc_name.map(lambda x:'한옥' in x), :]

           지점명        loc_name  num_review    distance
23    미래전주만성DT  전주한옥마을 임실치즈체험장        2435    7.337772
29    미래전주만성DT   전주한옥마을 [슬로시티]      161478    7.515327
1222  미래전주만성DT        황산전통한옥마을       35189   69.192655
1239  미래전주만성DT          개평한옥마을       48576   69.731973
1308  미래전주만성DT          심청한옥마을       35552   73.244012
3763  미래전주만성DT          청도한옥학교       39502  150.789182
3931  미래전주만성DT        남도한옥민박마을       31133  155.055423
5509  미래전주만성DT         남산골한옥마을      144681  189.637257
5733  미래전주만성DT          북촌한옥마을      172207  191.905419
7747  미래전주만성DT            전통한옥         652  263.597417

In [43]:
x.to_csv('../kakomap_crwal/data/new_2020-07-02_18_46_travel_crawl.csv', sep='\t')

In [9]:
x['address2'] = x['address'].map(lambda x:x.split('\n')[0] if isinstance(x, str) else x)

In [10]:
x = x[x['address2'].map(lambda x:False if isinstance(x, float) else True)]

In [11]:
x.reset_index(drop=True, inplace=True)
x

,지점명,address,num_review,latitude,longitude,address2
0,을왕리해수욕장,인천광역시 중구 을왕로13번길 15,455237,37.445074,126.372986,인천광역시 중구 을왕로13번길 15
1,장경리해수욕장,인천광역시 옹진군 영흥면 영흥로757번길 6,42274,37.272622,126.449976,인천광역시 옹진군 영흥면 영흥로757번길 6
2,하나개해수욕장,인천광역시 중구 무의동 산189번지,69251,37.385184,126.418629,인천광역시 중구 무의동 산189번지
3,왕산해수욕장,인천광역시 중구 을왕동,92943,37.451641,126.382984,인천광역시 중구 을왕동
4,수기해변,인천광역시 옹진군 북도면 시도로86번길 291-48,34234,37.544194,126.431816,인천광역시 옹진군 북도면 시도로86번길 291-48
...,...,...,...,...,...,...
8485,강촌랜드,강원도 춘천시 남산면 강촌로 88,902,37.811276,127.635203,강원도 춘천시 남산면 강촌로 88
8486,강촌 출렁다리공원,강원도 춘천시 남산면 강촌리 671-5,930,37.801457,127.615418,강원도 춘천시 남산면 강촌리 671-5
8487,강촌 번지점프,강원도 춘천시 남산면 강촌로 256,522,37.796641,127.639476,강원도 춘천시 남산면 강촌로 256
8488,천등산전통발효식품,충청북도 충주시 산척면 세고개로 277,671,37.092339,127.958407,충청북도 충주시 산척면 세고개로 277
8489,살둔계곡,강원도 홍천군 내면 살둔길 3,1393,37.831417,128.369049,강원도 홍천군 내면 살둔길 3

In [13]:
travel_df = x[['지점명', 'address2', 'num_review', 'latitude', 'longitude']]
travel_df = travel_df.rename(columns={'address2':'address'})
travel_df

,지점명,address,num_review,latitude,longitude
0,을왕리해수욕장,인천광역시 중구 을왕로13번길 15,455237,37.445074,126.372986
1,장경리해수욕장,인천광역시 옹진군 영흥면 영흥로757번길 6,42274,37.272622,126.449976
2,하나개해수욕장,인천광역시 중구 무의동 산189번지,69251,37.385184,126.418629
3,왕산해수욕장,인천광역시 중구 을왕동,92943,37.451641,126.382984
4,수기해변,인천광역시 옹진군 북도면 시도로86번길 291-48,34234,37.544194,126.431816
...,...,...,...,...,...
8485,강촌랜드,강원도 춘천시 남산면 강촌로 88,902,37.811276,127.635203
8486,강촌 출렁다리공원,강원도 춘천시 남산면 강촌리 671-5,930,37.801457,127.615418
8487,강촌 번지점프,강원도 춘천시 남산면 강촌로 256,522,37.796641,127.639476
8488,천등산전통발효식품,충청북도 충주시 산척면 세고개로 277,671,37.092339,127.958407
8489,살둔계곡,강원도 홍천군 내면 살둔길 3,1393,37.831417,128.369049

In [20]:
travel_df.to_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/2020-07-02_18_46_travel_crawl.csv', sep='\t')

In [14]:
travel_df = travel_df.drop_duplicates('지점명')

In [15]:
travel_df = travel_df.drop_duplicates('address').reset_index(drop=True)

In [33]:
travel_df.to_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/2020-07-02_18_46_travel_crawl.csv', sep='\t')

In [21]:
start_bucks_dt = pd.read_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/mac/ST_MAC2_DT.csv', sep='\t')
start_bucks_dt = start_bucks_dt.drop('Unnamed: 0', axis=1)
start_bucks_dt

          mac_name   latitude   longitude  SORT
0       맥도날드 양평SK점  37.530980  126.893343  맥도날드
1     맥도날드 양천구청DT점  37.515464  126.862954  맥도날드
2        맥도날드 고척DT  37.497228  126.863535  맥도날드
3       맥도날드 염창DT점  37.552891  126.870164  맥도날드
4       맥도날드 서초GS점  37.486421  127.009869  맥도날드
..             ...        ...         ...   ...
465   스타벅스 목포터미널DT  34.810016  126.417053  스타벅스
466    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
467     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
468    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
469  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[470 rows x 4 columns]

In [24]:
start_bucks_dt = start_bucks_dt[start_bucks_dt.SORT=='스타벅스'].reset_index(drop=True)

In [26]:
start_bucks_dt = start_bucks_dt.rename(columns={'mac_name':'star_name'})
start_bucks_dt

         star_name   latitude   longitude  SORT
0      스타벅스 울산신정DT  35.544170  129.324735  스타벅스
1     스타벅스 경주보문로DT  35.853218  129.268695  스타벅스
2       스타벅스 동수원DT  37.278015  127.033828  스타벅스
3       스타벅스 서귀포DT  33.249525  126.506710  스타벅스
4     스타벅스 구미금오산DT  36.122231  128.323599  스타벅스
..             ...        ...         ...   ...
249   스타벅스 목포터미널DT  34.810016  126.417053  스타벅스
250    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
251     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
252    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
253  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[254 rows x 4 columns]

In [34]:
start_bucks_dt.to_csv('starbucks_location_info.csv', sep='\t')

In [55]:
import pandas as pd
import geopy.distance


def get_distances_with_df(df1, df2, df1_basis, df2_basis):
    rows = []
    for j in range(df1.shape[0]):
        loc_name1 = df1.loc[j, df1_basis]
        coord1 = (df1.loc[j].latitude, df1.loc[j].longitude)
        for i in range(df2.shape[0]):
            loc_name2 = df2.loc[i][df2_basis]
            num_review = df2.loc[i,'num_review']
            coord2 = (df2.loc[i].latitude, df2.loc[i].longitude)
            distance = geopy.distance.distance(coord1, coord2).km
            row = {
                df1_basis : loc_name1,
                df2_basis : loc_name2,
                'num_review' : num_review,
                'distance': distance
            }
            rows.append(row)
    return rows


def find_mindist_starbucks(groupped_df, basis_name='star_name'):
    new_df = {}
#     groupped_df = groupped_df.reset_index(drop=True)
    groupped_df = groupped_df.sort_values(by='distance').reset_index(drop=True)
    new_df['distance'] = groupped_df.loc[:2]['distance']
    new_df[basis_name] = groupped_df.loc[:2][basis_name]

    return pd.Series(new_df, index=[basis_name, 'distance'])



def main():
    loc_info = pd.read_csv('../data/mac/ST_MAC2_DT.csv', sep='\t')
    loc_info_mac = loc_info[loc_info.SORT == '맥도날드']
    loc_info_star = loc_info[loc_info.SORT == '스타벅스']
    loc_info_star = loc_info_star.reset_index().drop('index', axis=1)

    loc_info_mac = loc_info_mac.drop_duplicates().reset_index(drop=True)

    rows = get_distances_with_st(loc_info_mac, loc_info_star)
    mac_star_distance = pd.DataFrame(rows)
    mac_star_distance2 = mac_star_distance.groupby(['mac_name']).apply(find_mindist_starbucks)
    mac_star_distance3 = mac_star_distance2.reset_index()
    mac_star_distance3.to_csv('data/mac_star_distance2.csv', sep='\t')

# if __name__ == '__main__':;;
#     main()

In [30]:
source_df = source_df[['지점명', '위도', '경도']]

In [32]:
source_df = source_df.rename(columns={'위도':'latitude', '경도':'longitude'})

In [56]:
rows = get_distances_with_df(source_df, target_df, '지점명', 'loc_name')

In [57]:
src_tar_distance = pd.DataFrame(rows)

In [59]:
src_tar_distance = src_tar_distance.sort_values('distance').reset_index(drop=True)

In [29]:
import urllib
import json
from pprint import pprint


url = "http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline"

ServiceKey = "2cJ3wHYxZ7tLO8fc%2FU6B8jutjQd%2F6FjQBmBZMBljRnfA2uWyeUx1BfUrPL9PLA2oKiAAaUkSOGLiPErkfSXecQ%3D%3D"
company = urllib.parse.quote('디아이동일')
ServiceKey = urllib.parse.unquote(ServiceKey)
query = f"http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline?pageNo=1&numOfRows=1&resultType=xml&fnccmpNm={company}&serviceKey={ServiceKey}"
print(query)
request = urllib.request.Request(query)

response = urllib.request.urlopen(request)
rescode = response.getcode()
response_body = ''
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
    dict_ = json.loads(response_body.decode('utf-8'))
    pprint(dict_)
# else:
#     print("Error Code:" + rescode)

http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline?pageNo=1&numOfRows=1&resultType=xml&fnccmpNm=%EB%94%94%EC%95%84%EC%9D%B4%EB%8F%99%EC%9D%BC&serviceKey=2cJ3wHYxZ7tLO8fc/U6B8jutjQd/6FjQBmBZMBljRnfA2uWyeUx1BfUrPL9PLA2oKiAAaUkSOGLiPErkfSXecQ==
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<response>
    <header>
        <resultCode>00</resultCode>
        <resultMsg>NORMAL SERVICE.</resultMsg>
    </header>
    <body>
        <numOfRows>1</numOfRows>
        <pageNo>1</pageNo>
        <totalCount>1221990</totalCount>
        <items>
            <item>
                <actnAudpnNm></actnAudpnNm>
                <audtRptOpnnCtt></audtRptOpnnCtt>
                <basDt>20200627</basDt>
                <bzno></bzno>
                <corpDcd></corpDcd>
                <corpDcdNm></corpDcdNm>
                <corpEnsnNm></corpEnsnNm>
                <corpNm>(유)서해푸드</corpNm>
                <corpRegMrktDcd></corpRegMrktDcd>
                <corpRegMrktDcdNm></corpRegMrktDcdNm>
                <crno>2148140009471</crno>
                <empeAvgCnwkTermCtt></empeAvgCnwkTermCtt>
                <enpBsadr>전라북도 김제시</enpBsadr>
                <enpDtadr>순동2길 201 (순동)</enpDtadr>
                <enpEmpeCnt>0</enpEmpeCnt>
                <enpEstbDt></enpEstbDt>
                <enpFxno></enpFxno>
                <enpHmpgUrl></enpHmpgUrl>
                <enpKosdaqLstgAbolDt></enpKosdaqLstgAbolDt>
                <enpKosdaqLstgDt></enpKosdaqLstgDt>
                <enpKrxLstgAbolDt></enpKrxLstgAbolDt>
                <enpKrxLstgDt></enpKrxLstgDt>
                <enpMainBizNm></enpMainBizNm>
                <enpMntrBnkNm></enpMntrBnkNm>
                <enpOzpno></enpOzpno>
                <enpPbanCmpyNm></enpPbanCmpyNm>
                <enpPn1AvgSlryAmt>0</enpPn1AvgSlryAmt>
                <enpRprFnm></enpRprFnm>
                <enpStacMm></enpStacMm>
                <enpTlno>01086737717</enpTlno>
                <enpXchgLstgAbolDt></enpXchgLstgAbolDt>
                <enpXchgLstgDt></enpXchgLstgDt>
                <fssCorpChgDtm></fssCorpChgDtm>
                <fssCorpUnqNo></fssCorpUnqNo>
                <sicNm></sicNm>
                <smenpYn></smenpYn>
            </item>
        </items>
    </body>
</response>

JSONDecodeError: Expecting value: line 1 column 1 (char 0)