In [2]:
import pandas as pd
import geopy.distance

/Users/dhkim/PycharmProjects/untitled/venv/lib/python3.8/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [268]:
star_bucks = pd.read_csv('../kakomap_crwal/data/starbucks/new_starbucks_review_groupby_200626.csv', sep='\t')
star_bucks = star_bucks.drop('Unnamed: 0', axis=1)
star_bucks = star_bucks.rename(columns={'loc_name':'지점명'})
star_bucks

,지점명,address,dates,scores,reviews,latitude,longitude
0,스타벅스 국립대구박물관DT점,황금동 69-3 64-5,2020-04-09 18:22:58.723404288,4.744681,45,35.845552,128.639088
1,스타벅스 대구영대병원역DT점,봉덕동 595-7,2020-04-08 01:06:58.604651264,4.744186,78,35.845473,128.593525
2,스타벅스 경주터미널DT점,사정동 488-7 8,2020-01-14 13:14:28.965517312,4.741379,220,35.838169,129.203326
3,스타벅스 대구수성네거리DT점,수성동4가 1021-8,2019-11-26 12:05:10.791366912,4.733813,128,35.860458,128.618042
4,스타벅스 광주매곡DT점,매곡동 15,2019-11-06 12:13:20.000000000,4.724537,204,35.189836,126.898698
...,...,...,...,...,...,...,...
244,스타벅스 천안두정역DT점,두정동 71-13,2020-05-23 08:29:32.307692288,4.300000,60,36.832866,127.146158
245,스타벅스 전주평화DT점,평화동2가 300-1,2020-01-21 19:08:21.265822720,4.294304,147,35.788362,127.131294
246,스타벅스 속초DT점,조양동 1002-39,2020-01-11 05:39:13.846153728,4.293269,192,38.189871,128.584412
247,스타벅스 울산중리사거리DT점,삼산동 1545-5,2020-01-05 08:00:00.000000000,4.272109,136,35.543880,129.338683
248,스타벅스 리버사이드팔당DTR점,도곡리 504-15,2020-01-30 14:54:47.861271552,4.173410,321,37.567097,127.228378

In [10]:
file_path = './starbucksDT_location_info_20200707.csv'
starbucks_data = pd.read_csv(file_path, sep=',', index_col=0)
starbucks_data.to_csv(file_path, sep='\t')

In [23]:
starbucks_data

,지점명,latitude,longitude,address
0,스타벅스 강동구청DT점,37.529139,127.123792,성내동 550
1,스타벅스 강동암사DT점,37.555040,127.130065,암사동 441-12
2,스타벅스 강릉송정DT점,37.771866,128.922926,강원도 강릉시 경강로 2402 2020-03-31 18:56:50.526315776
3,스타벅스 경기광주송정DT점,37.424435,127.262841,송정동 12-12 1필지
4,스타벅스 경기광주신현DT점,37.359885,127.153039,신현리 701-5
...,...,...,...,...
247,스타벅스 풍무역DT점,37.610333,126.737431,풍무동 326-4
248,스타벅스 하남미사DT점,37.567550,127.189241,망월동 1066-3
249,스타벅스 해운대달맞이DT점,35.161563,129.171237,부산광역시 해운대구 중동 달맞이길 57
250,스타벅스 화곡DT점,37.535035,126.863118,화곡동 772-67
251,스타벅스 화성병점DT점,37.212610,127.038229,진안동 873-4

In [15]:
intersect = set(starbucks_data['지점명']).intersection(set(star_bucks_add['지점명']))
set(starbucks_data['지점명']) - intersect

{'스타벅스 경주보문로DT점', '스타벅스 경주보문호수DT점', '스타벅스 공주동학사DT점'}

In [42]:
star_bucks_add = pd.read_csv('./20200707_starbuck_apt_info.csv', sep='\t', index_col=0)
star_bucks_add

,지점명,아파트명,주소,준공년월,세대,가격,latitude,longitude,s_latitude,s_longitude
0,스타벅스 대구영대병원역DT점,영광비젼파크아파트,대구 남구 봉덕로11길 14-4,NaN,NaN,NaN,35.845529,128.596193,35.845473,128.593525
1,스타벅스 오산갈곶DT점,원동삼환나우빌아파트,경기 오산시 경기대로 99-15,1996.11,1168.0,"매매가13,500 - 16,500 (만원)\n전세가12,000 - 15,000 (만원)",37.132868,127.070807,37.129078,127.071224
2,스타벅스 대구칠성DT점,칠성동삼성아파트,대구 북구 호암로 40,1995.11,624.0,"매매가21,500 - 37,000 (만원)\n전세가17,000 - 30,000 (만원)",35.881641,128.594428,35.879674,128.596391
3,스타벅스 평택서정DT점,동산아파트,경기 평택시 특구로27번길 46,1989.10,520.0,"매매가10,500 - 14,500 (만원)\n전세가6,000 - 8,500 (만원)",37.068793,127.060778,37.065982,127.063464
4,스타벅스 동서대DT점,주례한일유앤아이아파트,부산 사상구 백양대로 372-15,2005.02,988.0,"매매가18,500 - 43,000 (만원)\n전세가17,000 - 32,000 (만원)",35.154068,129.009872,35.150740,129.009687
...,...,...,...,...,...,...,...,...,...,...
247,스타벅스 수원망포DT점,그대가프리미어아파트,경기 수원시 영통구 덕영대로1484번길 21,2010.08,602.0,"매매가50,000 - 85,000 (만원)\n전세가34,000 - 55,000 (만원)",37.244369,127.054343,37.245828,127.051340
248,스타벅스 풍무사거리DT점,풍무대림아파트,경기 김포시 풍무로93번길 30,2003.09,575.0,"매매가25,000 - 28,000 (만원)\n전세가18,500 - 21,500 (만원)",37.604486,126.720436,37.607778,126.722742
249,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,33.791638,-84.389488,35.853239,129.268688
250,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,33.791638,-84.389488,36.363360,127.253563
251,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,33.791638,-84.389488,35.838824,129.285902

In [22]:
new_dfs = []
for name in set(starbucks_data['지점명']) - intersect:
    df = {'지점명' : name, '아파트명' : pd.np.nan , '주소' : pd.np.nan , '준공년월' : pd.np.nan, '세대' : pd.np.nan, '가격' :pd.np.nan}
    new_dfs.append(df)
new_df = pd.DataFrame(new_dfs)
star_bucks_add_df = pd.concat([star_bucks_add, new_df]).reset_index(drop=True)

<ipython-input-22-7ca9718cf5a9>:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df = {'지점명' : name, '아파트명' : pd.np.nan , '주소' : pd.np.nan , '준공년월' : pd.np.nan, '세대' : pd.np.nan, '가격' :pd.np.nan}

,지점명,아파트명,주소,준공년월,세대,가격
0,스타벅스 대구영대병원역DT점,영광비젼파크아파트,대구 남구 봉덕로11길 14-4,NaN,NaN,NaN
1,스타벅스 오산갈곶DT점,원동삼환나우빌아파트,경기 오산시 경기대로 99-15,1996.11,1168.0,"매매가13,500 - 16,500 (만원)\n전세가12,000 - 15,000 (만원)"
2,스타벅스 대구칠성DT점,칠성동삼성아파트,대구 북구 호암로 40,1995.11,624.0,"매매가21,500 - 37,000 (만원)\n전세가17,000 - 30,000 (만원)"
3,스타벅스 평택서정DT점,동산아파트,경기 평택시 특구로27번길 46,1989.10,520.0,"매매가10,500 - 14,500 (만원)\n전세가6,000 - 8,500 (만원)"
4,스타벅스 동서대DT점,주례한일유앤아이아파트,부산 사상구 백양대로 372-15,2005.02,988.0,"매매가18,500 - 43,000 (만원)\n전세가17,000 - 32,000 (만원)"
...,...,...,...,...,...,...
247,스타벅스 수원망포DT점,그대가프리미어아파트,경기 수원시 영통구 덕영대로1484번길 21,2010.08,602.0,"매매가50,000 - 85,000 (만원)\n전세가34,000 - 55,000 (만원)"
248,스타벅스 풍무사거리DT점,풍무대림아파트,경기 김포시 풍무로93번길 30,2003.09,575.0,"매매가25,000 - 28,000 (만원)\n전세가18,500 - 21,500 (만원)"
249,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN
250,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN
251,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN

In [39]:
star_bucks_add_df

,지점명,아파트명,주소,준공년월,세대,가격,latitude,longitude,s_latitude,s_longitude
0,스타벅스 대구영대병원역DT점,영광비젼파크아파트,대구 남구 봉덕로11길 14-4,NaN,NaN,NaN,,,35.8455,128.594
1,스타벅스 오산갈곶DT점,원동삼환나우빌아파트,경기 오산시 경기대로 99-15,1996.11,1168.0,"매매가13,500 - 16,500 (만원)\n전세가12,000 - 15,000 (만원)",,,37.1291,127.071
2,스타벅스 대구칠성DT점,칠성동삼성아파트,대구 북구 호암로 40,1995.11,624.0,"매매가21,500 - 37,000 (만원)\n전세가17,000 - 30,000 (만원)",35.8816,128.594,35.8797,128.596
3,스타벅스 평택서정DT점,동산아파트,경기 평택시 특구로27번길 46,1989.10,520.0,"매매가10,500 - 14,500 (만원)\n전세가6,000 - 8,500 (만원)",37.0688,127.061,37.066,127.063
4,스타벅스 동서대DT점,주례한일유앤아이아파트,부산 사상구 백양대로 372-15,2005.02,988.0,"매매가18,500 - 43,000 (만원)\n전세가17,000 - 32,000 (만원)",35.1541,129.01,35.1507,129.01
...,...,...,...,...,...,...,...,...,...,...
247,스타벅스 수원망포DT점,그대가프리미어아파트,경기 수원시 영통구 덕영대로1484번길 21,2010.08,602.0,"매매가50,000 - 85,000 (만원)\n전세가34,000 - 55,000 (만원)",37.2444,127.054,37.2458,127.051
248,스타벅스 풍무사거리DT점,풍무대림아파트,경기 김포시 풍무로93번길 30,2003.09,575.0,"매매가25,000 - 28,000 (만원)\n전세가18,500 - 21,500 (만원)",37.6045,126.72,37.6078,126.723
249,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,,,35.8532,129.269
250,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,,,36.3634,127.254
251,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,,,35.8388,129.286

In [26]:
star_bucks_add_df['s_latitude'] = ''
star_bucks_add_df['s_longitude'] = ''

for idx, row in starbucks_data.iterrows():
    star_bucks_add_df.loc[star_bucks_add_df['지점명']==row['지점명'], 's_latitude'] = row['latitude']
    star_bucks_add_df.loc[star_bucks_add_df['지점명']==row['지점명'], 's_longitude'] = row['longitude']
star_bucks_add_df

,지점명,아파트명,주소,준공년월,세대,가격,latitude,longitude,s_latitude,s_longitude
0,스타벅스 대구영대병원역DT점,영광비젼파크아파트,대구 남구 봉덕로11길 14-4,NaN,NaN,NaN,35.8455,128.594,35.8455,128.594
1,스타벅스 오산갈곶DT점,원동삼환나우빌아파트,경기 오산시 경기대로 99-15,1996.11,1168.0,"매매가13,500 - 16,500 (만원)\n전세가12,000 - 15,000 (만원)",37.1291,127.071,37.1291,127.071
2,스타벅스 대구칠성DT점,칠성동삼성아파트,대구 북구 호암로 40,1995.11,624.0,"매매가21,500 - 37,000 (만원)\n전세가17,000 - 30,000 (만원)",35.8797,128.596,35.8797,128.596
3,스타벅스 평택서정DT점,동산아파트,경기 평택시 특구로27번길 46,1989.10,520.0,"매매가10,500 - 14,500 (만원)\n전세가6,000 - 8,500 (만원)",37.066,127.063,37.066,127.063
4,스타벅스 동서대DT점,주례한일유앤아이아파트,부산 사상구 백양대로 372-15,2005.02,988.0,"매매가18,500 - 43,000 (만원)\n전세가17,000 - 32,000 (만원)",35.1507,129.01,35.1507,129.01
...,...,...,...,...,...,...,...,...,...,...
247,스타벅스 수원망포DT점,그대가프리미어아파트,경기 수원시 영통구 덕영대로1484번길 21,2010.08,602.0,"매매가50,000 - 85,000 (만원)\n전세가34,000 - 55,000 (만원)",37.2458,127.051,37.2458,127.051
248,스타벅스 풍무사거리DT점,풍무대림아파트,경기 김포시 풍무로93번길 30,2003.09,575.0,"매매가25,000 - 28,000 (만원)\n전세가18,500 - 21,500 (만원)",37.6078,126.723,37.6078,126.723
249,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,35.8532,129.269,35.8532,129.269
250,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,36.3634,127.254,36.3634,127.254
251,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,35.8388,129.286,35.8388,129.286

In [63]:
def get_distance(row):
    try:
        return geopy.distance.vincenty((row.latitude,row.longitude), (row.s_latitude,row.s_longitude)).km
    except:
        return 9999
star_bucks_add_df['distance'] = star_bucks_add_df.apply(lambda row:get_distance(row), axis=1)
star_bucks_add_df

<ipython-input-63-2c060df01a47>:3: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  return geopy.distance.vincenty((row.latitude,row.longitude), (row.s_latitude,row.s_longitude)).km

,지점명,아파트명,주소,준공년월,세대,가격,latitude,longitude,s_latitude,s_longitude,distance
0,스타벅스 대구영대병원역DT점,영광비젼파크아파트,대구 남구 봉덕로11길 14-4,NaN,NaN,NaN,35.8455,128.596,35.8455,128.594,0.241139
1,스타벅스 오산갈곶DT점,원동삼환나우빌아파트,경기 오산시 경기대로 99-15,1996.11,1168.0,"매매가13,500 - 16,500 (만원)\n전세가12,000 - 15,000 (만원)",37.1329,127.071,37.1291,127.071,0.422294
2,스타벅스 대구칠성DT점,칠성동삼성아파트,대구 북구 호암로 40,1995.11,624.0,"매매가21,500 - 37,000 (만원)\n전세가17,000 - 30,000 (만원)",35.8816,128.594,35.8797,128.596,0.281140
3,스타벅스 평택서정DT점,동산아파트,경기 평택시 특구로27번길 46,1989.10,520.0,"매매가10,500 - 14,500 (만원)\n전세가6,000 - 8,500 (만원)",37.0688,127.061,37.066,127.063,0.392910
4,스타벅스 동서대DT점,주례한일유앤아이아파트,부산 사상구 백양대로 372-15,2005.02,988.0,"매매가18,500 - 43,000 (만원)\n전세가17,000 - 32,000 (만원)",35.1541,129.01,35.1507,129.01,0.369626
...,...,...,...,...,...,...,...,...,...,...,...
247,스타벅스 수원망포DT점,그대가프리미어아파트,경기 수원시 영통구 덕영대로1484번길 21,2010.08,602.0,"매매가50,000 - 85,000 (만원)\n전세가34,000 - 55,000 (만원)",37.2444,127.054,37.2458,127.051,0.311789
248,스타벅스 풍무사거리DT점,풍무대림아파트,경기 김포시 풍무로93번길 30,2003.09,575.0,"매매가25,000 - 28,000 (만원)\n전세가18,500 - 21,500 (만원)",37.6045,126.72,37.6078,126.723,0.418297
249,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,,,35.8532,129.269,13450.771689
250,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,,,36.3634,127.254,13262.463176
251,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,,,35.8388,129.286,13452.867620

In [67]:
star_bucks_add_df.sort_values('distance', ascending=False)[:10]

,지점명,아파트명,주소,준공년월,세대,가격,latitude,longitude,s_latitude,s_longitude,distance
251,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,,,35.8388,129.286,13452.867620
249,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,,,35.8532,129.269,13450.771689
250,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,,,36.3634,127.254,13262.463176
157,스타벅스 서귀포DT점,제주강정유승한내들퍼스트오션아파트,제주 서귀포시 대청로 34 제주강정유승한내들퍼스트오션,2017.03,499.0,"매매가40,000 - 74,000 (만원)\n전세가27,000 - 39,500 (만원)",33.2514,126.503,33.2387,126.232,25.371620
71,스타벅스 광주선운DT점,선운이지더원2단지아파트,광주 광산구 선운중앙로 43,2014.07,378.0,"매매가27,000 - 36,000 (만원)\n전세가20,000 - 26,000 (만원)",35.1494,126.775,35.2032,126.819,7.173968
165,스타벅스 원당DT점,어울림마을동신7단지아파트,경기 고양시 덕양구 호국로 754,1992.11,390.0,"매매가36,000 - 44,000 (만원)\n전세가26,000 - 31,000 (만원)",37.6763,126.875,37.6582,126.838,3.855791
161,스타벅스 신림DT점,라이프미성아파트,서울 관악구 조원로2길 13,1982.10,280.0,"매매가51,500 - 70,000 (만원)\n전세가23,500 - 32,000 (만원)",37.4824,126.904,37.4626,126.938,3.784581
136,스타벅스 광주효천DT점,광주효천중흥S클래스아파트,광주 남구 효우로 332-11,2015.07,662.0,"매매가35,500 - 58,000 (만원)\n전세가23,000 - 33,000 (만원)",35.1042,126.903,35.0999,126.871,2.914006
174,스타벅스 구미상모DT점,구미상모한신휴플러스아파트,경북 구미시 박정희로 76-1,2015.11,998.0,"매매가16,000 - 28,000 (만원)\n전세가14,800 - 23,500 (만원)",36.1076,128.353,36.0823,128.356,2.822201
162,스타벅스 포항장성DT점,포항장성두산위브더제니스아파트,경북 포항시 북구 새천년대로 1235,2010.12,1713.0,"매매가21,500 - 40,000 (만원)\n전세가17,500 - 32,000 (만원)",36.0514,129.373,36.0745,129.384,2.763499

In [72]:
import numpy as np

In [77]:
type(star_bucks_add_df.loc[0,'가격'])

float

In [97]:
def price_process(x, flag):
    if not isinstance(x, float):
        split_x = x.split('\n')
        if flag=='매매가':
            return split_x[0].replace(flag,'').replace(',','').replace('(만원)','').split('-')
        else:
            if len(split_x) > 1:
                return split_x[1:][0].replace(flag,'').replace(',','').replace('(만원)','').split('-')
            else:
                return np.nan
    else:
        return x
star_bucks_add_df['전세가'] = star_bucks_add_df['가격'].map(lambda x:price_process(x,'전세가'))
star_bucks_add_df['매매가'] = star_bucks_add_df['가격'].map(lambda x:price_process(x,'매매가'))

0                    NaN
1      [12000 ,  15000 ]
2      [17000 ,  30000 ]
3        [6000 ,  8500 ]
4      [17000 ,  32000 ]
             ...
247    [34000 ,  55000 ]
248    [18500 ,  21500 ]
249                  NaN
250                  NaN
251                  NaN
Name: 전세가, Length: 252, dtype: object

In [108]:
' 14500 '.strip()

'14500'

In [136]:
def custom_map(x):
    if not isinstance(x, float):
        if isinstance(x, list):
            for string in x:
                if ('전세' in string) or ('월세') in string or ('매매') in string:
                    return True
                else:
                    return False
            if ('전세' in string) or ('월세') in string or ('매매') in string:
                return True
            else:
                return False
    else:
        return False
        
except_price = star_bucks_add_df[star_bucks_add_df['매매가'].map(lambda x:custom_map(x))]
except_price

,지점명,아파트명,주소,준공년월,세대,가격,latitude,longitude,s_latitude,s_longitude,distance,매매가,전세가
19,스타벅스 천안성정DT점,계룡리슈빌DS,충남 천안시 서북구 성정두정로 19,2016.09,190.0,매매 3 전세 2 월세 5,36.8324,127.142,36.8253,127.14,0.792669,[매매 3 전세 2 월세 5],NaN
27,스타벅스 경산중방DT점,초원맨션아파트,경북 경산시 경안로48길 11-12,1989.05,59.0,매매 7,35.8291,128.738,35.8275,128.737,0.198630,[매매 7],NaN
38,스타벅스 충주호암DT점,충주호암지구우미린에듀시티,충북 충주시 호암수청1로 13 우미린에듀시티아파트,2019.08,892.0,매매 2 전세 6,36.9627,127.927,36.959,127.924,0.501892,[매매 2 전세 6],NaN
43,스타벅스 해운대달맞이DT점,해운대엘시티더샵,부산 해운대구 달맞이길 30,2019.11,882.0,매매 329 전세 229 월세 403,35.1599,129.17,35.1616,129.171,0.226686,[매매 329 전세 229 월세 403],NaN
54,스타벅스 전주덕진광장DT점,거성대학촌아파트,전북 전주시 덕진구 명륜4길 16,1983.08,60.0,매매 1 전세 1,35.8427,127.127,35.8429,127.124,0.279145,[매매 1 전세 1],NaN
65,스타벅스 충남보령DT점,금성백조예미지2차아파트,충남 보령시 명천동 산38-9,2019.11,517.0,매매 5 월세 1,36.3366,126.607,36.3408,126.589,1.617040,[매매 5 월세 1],NaN
78,스타벅스 대구두류DT점,세신아파트,대구 서구 달구벌대로361길 9,1981.04,41.0,매매 1 월세 7,35.8602,128.561,35.8589,128.561,0.146233,[매매 1 월세 7],NaN
90,스타벅스 구미시청DT점,상산에이스타운,경북 구미시 신시로14길 10,2002.09,19.0,매매 1,36.1156,128.34,36.1176,128.342,0.257028,[매매 1],NaN
135,스타벅스 동대구로DT점,동대구유성푸르나임아파트,대구 동구 동부로22길 48,2014.11,672.0,매매 36 전세 6 월세 31,35.8722,128.627,35.8681,128.627,0.460561,[매매 36 전세 6 월세 31],NaN
138,스타벅스 연희DT점,연화아파트,서울 서대문구 연희로25길 101,1975.12,32.0,매매 8 전세 1,37.569,126.932,37.5702,126.934,0.212700,[매매 8 전세 1],NaN
227,스타벅스 제주외도DT점,가온체리티,제주 제주시 우정로 37,2005.12,46.0,월세 1,33.4894,126.431,33.4923,126.427,0.505493,[월세 1],NaN
241,스타벅스 수원경수인계DT점,해피포트아파트,경기 수원시 팔달구 경수대로519번길 12-13,2004.01,19.0,매매 6,37.2731,127.028,37.2705,127.028,0.290374,[매매 6],NaN

In [153]:
for idx, row in except_price.iterrows():
    print(idx, row[11])
    if '매매' in row['매매가'][0]:
        maemae = row['매매가'][0].split(' ')[1]

        star_bucks_add_df.loc[idx, '매매가상한'] = int(maemae + '00000000')
        star_bucks_add_df.loc[idx, '매매가하한'] = int(maemae + '00000000')
    else:
        star_bucks_add_df.loc[idx, '매매가상한'] = np.nan
        star_bucks_add_df.loc[idx, '매매가하한'] = np.nan

19 ['매매 3 전세 2 월세 5']
27 ['매매 7']
38 ['매매 2 전세 6']
43 ['매매 329 전세 229 월세 403']
54 ['매매 1 전세 1']
65 ['매매 5 월세 1']
78 ['매매 1 월세 7']
90 ['매매 1']
135 ['매매 36 전세 6 월세 31']
138 ['매매 8 전세 1']
227 ['월세 1']
241 ['매매 6']

In [137]:
star_bucks_add_df[star_bucks_add_df['전세가'].map(lambda x:custom_map(x))]

Empty DataFrame
Columns: [지점명, 아파트명, 주소, 준공년월, 세대, 가격, latitude, longitude, s_latitude, s_longitude, distance, 매매가, 전세가]
Index: []

In [152]:
def cus_map(x, index):
    try:
        return int(x[index].strip() +'0000') if not isinstance(x, float) else x
    except:
        return x

star_bucks_add_df['매매가하한'] = star_bucks_add_df['매매가'].map(lambda x:cus_map(x, 0))
star_bucks_add_df['매매가상한'] = star_bucks_add_df['매매가'].map(lambda x:cus_map(x, 1))

In [156]:
star_bucks_add_df_apt_final = star_bucks_add_df[['지점명','아파트명','준공년월','세대','distance','매매가하한','매매가상한']]

In [157]:
star_bucks_add_df_apt_final.to_csv('20200707_starbucks_apt_final_dist_price.csv', sep='\t')

In [86]:
star_bucks_add_df[star_bucks_add_df['전세가'].str.len()>1]

Empty DataFrame
Columns: [지점명, 아파트명, 주소, 준공년월, 세대, 가격, latitude, longitude, s_latitude, s_longitude, distance, 매매가, 전세가]
Index: []

In [68]:
star_bucks_add_df.to_csv('./20200707_starbuck_apt_info_dist.csv', sep='\t')

In [62]:
for idx, row in missing_coord.iterrows():
    star_bucks_add_df.loc[star_bucks_add_df['주소']==row['주소'], 'latitude'] = row['latitude']
    star_bucks_add_df.loc[star_bucks_add_df['주소']==row['주소'], 'longitude'] = row['longitude']
star_bucks_add_df

,지점명,아파트명,주소,준공년월,세대,가격,latitude,longitude,s_latitude,s_longitude,distance
0,스타벅스 대구영대병원역DT점,영광비젼파크아파트,대구 남구 봉덕로11길 14-4,NaN,NaN,NaN,35.8455,128.596,35.8455,128.594,13396.095628
1,스타벅스 오산갈곶DT점,원동삼환나우빌아파트,경기 오산시 경기대로 99-15,1996.11,1168.0,"매매가13,500 - 16,500 (만원)\n전세가12,000 - 15,000 (만원)",37.1329,127.071,37.1291,127.071,13212.315031
2,스타벅스 대구칠성DT점,칠성동삼성아파트,대구 북구 호암로 40,1995.11,624.0,"매매가21,500 - 37,000 (만원)\n전세가17,000 - 30,000 (만원)",35.8816,128.594,35.8797,128.596,0.281140
3,스타벅스 평택서정DT점,동산아파트,경기 평택시 특구로27번길 46,1989.10,520.0,"매매가10,500 - 14,500 (만원)\n전세가6,000 - 8,500 (만원)",37.0688,127.061,37.066,127.063,0.392910
4,스타벅스 동서대DT점,주례한일유앤아이아파트,부산 사상구 백양대로 372-15,2005.02,988.0,"매매가18,500 - 43,000 (만원)\n전세가17,000 - 32,000 (만원)",35.1541,129.01,35.1507,129.01,0.369626
...,...,...,...,...,...,...,...,...,...,...,...
247,스타벅스 수원망포DT점,그대가프리미어아파트,경기 수원시 영통구 덕영대로1484번길 21,2010.08,602.0,"매매가50,000 - 85,000 (만원)\n전세가34,000 - 55,000 (만원)",37.2444,127.054,37.2458,127.051,0.311789
248,스타벅스 풍무사거리DT점,풍무대림아파트,경기 김포시 풍무로93번길 30,2003.09,575.0,"매매가25,000 - 28,000 (만원)\n전세가18,500 - 21,500 (만원)",37.6045,126.72,37.6078,126.723,0.418297
249,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,,,35.8532,129.269,13450.771689
250,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,,,36.3634,127.254,13262.463176
251,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,,,35.8388,129.286,13452.867620

In [53]:
import requests

In [54]:
def find_lat_lng(location):
    # 요청 주소(구글맵)

    # Production(실제 서비스) 환경 - https 요청이 필수이고, API Key 발급(사용설정) 및 과금 설정이 반드시 필요합니다.
    URL = 'https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyBWgPcQF1nWKXIwGLPJVZA4-QYLw5GdVVM' \
          '&sensor=false&language=ko&address={}'.format(location)
    try:
        # URL로 보낸 Requst의 Response를 response 변수에 할당
        response = requests.get(URL)

        # JSON 파싱
        data = response.json()

        # lat, lon 추출
        lat = data['results'][0]['geometry']['location']['lat']
        lng = data['results'][0]['geometry']['location']['lng']
    except Exception as e:
        print(f'{e} : {location} failed to find coordinates')
        # time.sleep(1)
        # lat, lng = find_lat_lng(location)
        lat, lng = 0, 0
    return lat, lng

In [58]:
locs = []
for loc in mystery:
    loc_ = find_lat_lng(loc)
    print(loc_)
    loc_dict = {'주소' : loc,
                'latitude':loc_[0],
                'longitude':loc_[1]}
    locs.append(loc_dict)

(35.8455285, 128.596193)
(37.13286799999999, 127.0708067)
(35.173195, 129.106528)
(35.8902141, 128.5904713)
(36.8323797, 127.1415812)
(35.319206, 129.0264601)
(35.8380516, 128.6108302)
(35.8199118, 128.5333122)
(37.209423, 127.0549932)
(37.538185, 126.863257)
(35.1737511, 126.8105744)
(37.3982139, 127.2715036)
(37.69379, 126.7624419)
(36.8015412, 127.128244)
(35.6428989, 129.3506784)
(33.2514324, 126.5034108)
(34.8220309, 126.4174952)
(37.645713, 127.2376928)
(37.2990376, 127.1115909)
(35.8532819, 128.6353823)
(37.85324019999999, 127.7394869)
(37.7928979, 127.0743041)
(35.1730617, 126.8198934)
(37.242286, 127.214716)
(37.2707716, 127.0261542)
(33.2553905, 126.4295446)
(35.8496807, 128.6088181)
(36.1402776, 128.3147894)
(33.791638, -84.389488)
(33.791638, -84.389488)
(33.791638, -84.389488)

In [60]:
missing_coord = pd.DataFrame(locs)

In [47]:
star_bucks_add_df.sort_values('distance').reset_index(drop=True)[-20:]

,지점명,아파트명,주소,준공년월,세대,가격,latitude,longitude,s_latitude,s_longitude,distance
232,스타벅스 천안서부대로DT점,광명장미아파트,충남 천안시 서북구 미라2길 19,1993.11,990.0,"매매가10,500 - 22,000 (만원)\n전세가9,500 - 18,500 (만원)",,,36.8036,127.127,13231.902596
233,스타벅스 천안성정DT점,계룡리슈빌DS,충남 천안시 서북구 성정두정로 19,2016.09,190.0,매매 3 전세 2 월세 5,,,36.8253,127.14,13231.957259
234,스타벅스 목포터미널DT점,목포상동호반리젠시빌아파트입구,전남 목포시 상동,NaN,NaN,NaN,,,34.8102,126.417,13262.426710
235,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,,,36.3634,127.254,13262.463176
236,스타벅스 광주산정DT점,영천마을주공10단지아파트,광주 광산구 사암로340번길 30,2003.08,1300.0,"매매가16,800 - 26,000 (만원)\n전세가14,000 - 20,000 (만원)",,,35.1734,126.804,13278.982727
237,스타벅스 광주운남DT점,운남삼성아파트,광주 광산구 임방울대로 142-12,1996.12,1956.0,"매매가11,000 - 18,500 (만원)\n전세가9,700 - 15,500 (만원)",,,35.1751,126.818,13280.067788
238,스타벅스 서귀포DT점,제주강정유승한내들퍼스트오션아파트,제주 서귀포시 대청로 34 제주강정유승한내들퍼스트오션,2017.03,499.0,"매매가40,000 - 74,000 (만원)\n전세가27,000 - 39,500 (만원)",,,33.2387,126.232,13313.424102
239,스타벅스 제주중문DT점,제주중문남해오네뜨오션힐,제주 서귀포시 중문상로82번길 15,2016.11,290.0,"매매가25,700 - 29,900 (만원)\n전세가17,000 - 21,500 (만원)",,,33.255,126.416,13328.655998
240,스타벅스 구미도량DT점,구미도량지구현진에버빌,경북 구미시 도봉로 10,2005.12,580.0,"매매가22,000 - 37,000 (만원)\n전세가17,300 - 28,000 (만원)",,,36.1383,128.317,13359.682523
241,스타벅스 대구상인DT점,상인KCC스위첸아파트,대구 달서구 월배로39길 26,2009.10,293.0,"매매가64,000 - 79,000 (만원)\n전세가46,000 - 54,500 (만원)",,,35.8223,128.534,13392.356348
242,스타벅스 대구침산DT점,오페라삼정그린코아더베스트아파트,대구 북구 침산로 100,2017.10,578.0,"매매가46,500 - 89,000 (만원)\n전세가34,000 - 56,000 (만원)",,,35.8875,128.592,13393.970009
243,스타벅스 대구영대병원역DT점,영광비젼파크아파트,대구 남구 봉덕로11길 14-4,NaN,NaN,NaN,,,35.8455,128.594,13396.095628
244,스타벅스 대구중동DT점,수성동삼익맨션,대구 수성구 신천동로 278,1978.12,100.0,"매매가15,000 - 23,500 (만원)\n전세가10,000 - 16,000 (만원)",,,35.8462,128.611,13397.522742
245,스타벅스 대구중동네거리DT점,정화우방팔레스아파트,대구 수성구 수성로 135,2003.01,488.0,"매매가37,500 - 56,000 (만원)\n전세가26,000 - 42,000 (만원)",,,35.8409,128.614,13397.981316
246,스타벅스 국립대구박물관DT점,가든하이츠1단지아파트,대구 수성구 범어로 45,1985.12,220.0,"매매가84,500 - 118,500 (만원)\n전세가37,000 - 63,000 (만원)",,,35.8456,128.639,13399.814732
247,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,,,35.8532,129.269,13450.771689
248,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,,,35.8388,129.286,13452.867620
249,스타벅스 남양산IC DT점,남양산역반도유보라6차아파트,경남 양산시 동면 금오13길 38,2017.05,827.0,"매매가21,500 - 33,000 (만원)\n전세가16,500 - 23,500 (만원)",,,35.3195,129.031,13456.838886
250,스타벅스 울산호계DT점,울산신천효성해링턴플레이스아파트,울산 북구 신천로 26,2018.06,914.0,"매매가24,000 - 33,000 (만원)\n전세가15,000 - 22,000 (만원)",,,35.638,129.345,13467.389244
251,스타벅스 수영망미DT점,망미포스코더샵파크리치아파트,부산 수영구 연수로315번길 16,2007.09,862.0,"매매가40,000 - 71,000 (만원)\n전세가28,000 - 48,000 (만원)",,,35.1774,129.107,13469.890464

In [27]:
before_apt_info = pd.read_csv('./starbucks_apt_info_20200703.csv', sep='\t', index_col=0)
before_apt_info

,지점명,아파트명,주소,준공년월,세대,아파트유무,s_latitude,s_longitude,latitude,longitude,distance
0,스타벅스 강동구청DT점,성안마을청구아파트,서울 강동구 풍성로 114-1,2002.07,349.0,True,37.476169,126.965005,37.531677,127.124699,15.405684
1,스타벅스 강동암사DT점,삼성광나루아파트,서울 강동구 상암로3길 77,2002.11,490.0,True,37.643938,126.787386,37.554106,127.127160,31.618124
2,스타벅스 강릉송정DT점,포남동주공1차아파트,강원 강릉시 보래미상길 65,1981.10,640.0,True,35.204197,128.580572,37.775578,128.911832,286.880323
3,스타벅스 경기광주송정DT점,금강펜테리움2단지아파트,경기 광주시 경안천로 145,2010.06,344.0,True,37.409785,127.260213,37.418310,127.274827,1.602756
4,스타벅스 경기광주신현DT점,e편한세상태재1단지아파트,경기 광주시 오포읍 태재로 20-15,2018.07,480.0,True,37.189891,127.059202,37.358219,127.149894,20.339551
...,...,...,...,...,...,...,...,...,...,...,...
244,스타벅스 풍무역DT점,김포풍무꿈에그린유로메트로1단지아파트,경기 김포시 풍무로68번길 39,2014.05,965.0,True,36.334968,127.396729,37.605378,126.722912,153.221573
245,스타벅스 하남미사DT점,미사강변센트럴자이아파트,경기 하남시 미사강변대로 95,2017.02,1222.0,True,36.351462,127.339981,37.557440,127.185921,134.537053
246,스타벅스 해운대달맞이DT점,해운대엘시티더샵,부산 해운대구 달맞이길 30,2019.11,882.0,True,35.242151,129.220117,35.159921,129.169756,10.210820
247,스타벅스 화곡DT점,목동세종그랑시아아파트,서울 양천구 목동중앙남로3가길 59,2003.05,106.0,True,36.638517,127.459838,37.538333,126.864076,113.038321
248,스타벅스 화성병점DT점,다람마을월드메르디앙2차아파트,경기 화성시 병점4로 37,2005.11,109.0,True,35.814602,127.123425,37.213851,127.035242,155.473477

In [28]:
star_bucks_add_df['latitude'] = ''
star_bucks_add_df['longitude'] = ''

for idx, row in before_apt_info.iterrows():
    star_bucks_add_df.loc[star_bucks_add_df['아파트명']==row['아파트명'], 'latitude'] = row['latitude']
    star_bucks_add_df.loc[star_bucks_add_df['아파트명']==row['아파트명'], 'longitude'] = row['longitude']
star_bucks_add_df

,지점명,아파트명,주소,준공년월,세대,가격,latitude,longitude,s_latitude,s_longitude
0,스타벅스 대구영대병원역DT점,영광비젼파크아파트,대구 남구 봉덕로11길 14-4,NaN,NaN,NaN,,,35.8455,128.594
1,스타벅스 오산갈곶DT점,원동삼환나우빌아파트,경기 오산시 경기대로 99-15,1996.11,1168.0,"매매가13,500 - 16,500 (만원)\n전세가12,000 - 15,000 (만원)",,,37.1291,127.071
2,스타벅스 대구칠성DT점,칠성동삼성아파트,대구 북구 호암로 40,1995.11,624.0,"매매가21,500 - 37,000 (만원)\n전세가17,000 - 30,000 (만원)",35.8816,128.594,35.8797,128.596
3,스타벅스 평택서정DT점,동산아파트,경기 평택시 특구로27번길 46,1989.10,520.0,"매매가10,500 - 14,500 (만원)\n전세가6,000 - 8,500 (만원)",37.0688,127.061,37.066,127.063
4,스타벅스 동서대DT점,주례한일유앤아이아파트,부산 사상구 백양대로 372-15,2005.02,988.0,"매매가18,500 - 43,000 (만원)\n전세가17,000 - 32,000 (만원)",35.1541,129.01,35.1507,129.01
...,...,...,...,...,...,...,...,...,...,...
247,스타벅스 수원망포DT점,그대가프리미어아파트,경기 수원시 영통구 덕영대로1484번길 21,2010.08,602.0,"매매가50,000 - 85,000 (만원)\n전세가34,000 - 55,000 (만원)",37.2444,127.054,37.2458,127.051
248,스타벅스 풍무사거리DT점,풍무대림아파트,경기 김포시 풍무로93번길 30,2003.09,575.0,"매매가25,000 - 28,000 (만원)\n전세가18,500 - 21,500 (만원)",37.6045,126.72,37.6078,126.723
249,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,,,35.8532,129.269
250,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,,,36.3634,127.254
251,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,,,35.8388,129.286

In [ ]:
star_bucks_add_df

In [ ]:
def get_distance(row):
    try:
        return geopy.distance.vincenty((row.latitude_x,row.longitude_x), (row.latitude_y,row.longitude_y)).km
    except:
        return 9999
merged_df['distance'] = merged_df.apply(lambda row:get_distance(row), axis=1)
merged_df

In [287]:
star_bucks[star_bucks['지점명']=='스타벅스 대구중동DT점']

,지점명,address,dates,scores,reviews,latitude,longitude
181,스타벅스 대구중동DT점,대전광역시 동구 중동 316-3,2020-01-19 11:18:20.826446336,4.479339,113,36.331921,127.426931

In [271]:
merged_df = pd.merge(x, star_bucks, 'right', on='지점명')

In [269]:
x = pd.read_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/2020-07-03_11_58_apt_review.csv', sep='\t')
x = x.drop('Unnamed: 0', axis=1)
x.to_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/2020-07-03_11_58_apt_review.csv', sep='\t')
x

,지점명,아파트명,주소,준공년월,세대,latitude,longitude
0,스타벅스 국립대구박물관DT점,황금동캐슬골드파크1단지아파트,대구 수성구 청수로 213,2006.07,1059.0,35.840524,128.631260
1,스타벅스 대구영대병원역DT점,봉덕동우인그레이스아파트,대구 남구 중앙대로 114,2016.01,16.0,35.843372,128.591002
2,스타벅스 경주터미널DT점,동부이끌림6차,경북 경주시 금성로247번길 15,2014.06,50.0,35.839487,129.205381
3,스타벅스 대구수성네거리DT점,롬바드아파트,대구 수성구 들안로 325,2011.07,108.0,35.859002,128.616837
4,스타벅스 광주매곡DT점,용봉주공아파트,광주 북구 매곡로 20,NaN,NaN,35.186686,126.896046
...,...,...,...,...,...,...,...
241,스타벅스 천안두정역DT점,두정대우1차아파트,충남 천안시 서북구 봉정로 365,1996.12,1038.0,36.834401,127.144522
242,스타벅스 전주평화DT점,평화동우미아파트,전북 전주시 완산구 모악로 4685,1996.06,603.0,35.788259,127.129399
243,스타벅스 속초DT점,부영5단지아파트,강원 속초시 청대로204번길 40,1995.07,1030.0,38.188513,128.581319
244,스타벅스 울산중리사거리DT점,평창현대3차아파트,울산 남구 삼산중로128번길 21,1995.10,782.0,35.545575,129.338270
245,스타벅스 리버사이드팔당DTR점,한강우성아파트,경기 남양주시 와부읍 덕소로 270,1998.07,1488.0,37.577522,127.222988

In [144]:
for loc in x.지점명.values:
    if loc in star_bucks.지점명.values:
        
#         print(loc)
        continue
    else:
        print(loc)

In [229]:
x['아파트유무'] = x['지점명'].map(lambda x:True if x in star_bucks.지점명.values else False)
x

,지점명,아파트명,주소,준공년월,세대,latitude,longitude,아파트유무
0,스타벅스 국립대구박물관DT점,황금동캐슬골드파크1단지아파트,대구 수성구 청수로 213,2006.07,1059.0,35.840524,128.631260,True
1,스타벅스 대구영대병원역DT점,봉덕동우인그레이스아파트,대구 남구 중앙대로 114,2016.01,16.0,35.843372,128.591002,True
2,스타벅스 경주터미널DT점,동부이끌림6차,경북 경주시 금성로247번길 15,2014.06,50.0,35.839487,129.205381,True
3,스타벅스 대구수성네거리DT점,롬바드아파트,대구 수성구 들안로 325,2011.07,108.0,35.859002,128.616837,True
4,스타벅스 광주매곡DT점,용봉주공아파트,광주 북구 매곡로 20,NaN,NaN,35.186686,126.896046,True
...,...,...,...,...,...,...,...,...
241,스타벅스 천안두정역DT점,두정대우1차아파트,충남 천안시 서북구 봉정로 365,1996.12,1038.0,36.834401,127.144522,True
242,스타벅스 전주평화DT점,평화동우미아파트,전북 전주시 완산구 모악로 4685,1996.06,603.0,35.788259,127.129399,True
243,스타벅스 속초DT점,부영5단지아파트,강원 속초시 청대로204번길 40,1995.07,1030.0,38.188513,128.581319,True
244,스타벅스 울산중리사거리DT점,평창현대3차아파트,울산 남구 삼산중로128번길 21,1995.10,782.0,35.545575,129.338270,True
245,스타벅스 리버사이드팔당DTR점,한강우성아파트,경기 남양주시 와부읍 덕소로 270,1998.07,1488.0,37.577522,127.222988,True

In [230]:
idx = x.shape[0]
for loc in list(set(star_bucks.지점명.values) - set(x.지점명.values)):
    x.loc[idx, '지점명'] = loc
    x.loc[idx, '아파트명'] = ''
    x.loc[idx, '주소'] = ''
    x.loc[idx, '준공년월'] = ''
    x.loc[idx, '아파트유무'] = False
    idx += 1
x

,지점명,아파트명,주소,준공년월,세대,latitude,longitude,아파트유무
0,스타벅스 국립대구박물관DT점,황금동캐슬골드파크1단지아파트,대구 수성구 청수로 213,2006.07,1059.0,35.840524,128.631260,True
1,스타벅스 대구영대병원역DT점,봉덕동우인그레이스아파트,대구 남구 중앙대로 114,2016.01,16.0,35.843372,128.591002,True
2,스타벅스 경주터미널DT점,동부이끌림6차,경북 경주시 금성로247번길 15,2014.06,50.0,35.839487,129.205381,True
3,스타벅스 대구수성네거리DT점,롬바드아파트,대구 수성구 들안로 325,2011.07,108.0,35.859002,128.616837,True
4,스타벅스 광주매곡DT점,용봉주공아파트,광주 북구 매곡로 20,NaN,NaN,35.186686,126.896046,True
...,...,...,...,...,...,...,...,...
244,스타벅스 울산중리사거리DT점,평창현대3차아파트,울산 남구 삼산중로128번길 21,1995.1,782.0,35.545575,129.338270,True
245,스타벅스 리버사이드팔당DTR점,한강우성아파트,경기 남양주시 와부읍 덕소로 270,1998.07,1488.0,37.577522,127.222988,True
246,스타벅스 공주동학사DT점,,,,NaN,NaN,NaN,False
247,스타벅스 경주보문호수DT점,,,,NaN,NaN,NaN,False
248,스타벅스 경주보문로DT점,,,,NaN,NaN,NaN,False

In [231]:
x = x.sort_values('지점명')
star_bucks = star_bucks.sort_values('지점명')
x
star_bucks

,지점명,address,dates,scores,reviews,latitude,longitude
166,스타벅스 강동구청DT점,성내동 550,2020-02-24 05:35:32.038834944,4.492718,195,37.529139,127.123792
229,스타벅스 강동암사DT점,암사동 441-12,2020-03-15 07:57:15.428571392,4.388571,155,37.555040,127.130065
162,스타벅스 강릉송정DT점,강원도 강릉시 경강로 2402 2020-03-31 18:56:50.526315776,4.494736842105263,89.000000,0,37.771866,128.922926
184,스타벅스 경기광주송정DT점,송정동 12-12 1필지,2020-03-31 11:41:32.307692288,4.474359,73,37.424435,127.262842
237,스타벅스 경기광주신현DT점,신현리 701-5,2020-03-17 08:16:33.103448320,4.331897,108,37.359885,127.153039
...,...,...,...,...,...,...,...
210,스타벅스 풍무역DT점,풍무동 326-4,2020-04-04 19:19:19.322033920,4.436441,112,37.610333,126.737431
243,스타벅스 하남미사DT점,망월동 1066-3,2020-03-18 20:32:48.345323776,4.316547,135,37.567550,127.189241
54,스타벅스 해운대달맞이DT점,중동 1779,2019-12-20 21:39:30.731707392,4.626016,118,29.298528,42.550960
88,스타벅스 화곡DT점,화곡동 772-67,2020-02-07 21:47:53.394495488,4.594037,206,37.535035,126.863118
182,스타벅스 화성병점DT점,진안동 873-4,2019-12-29 21:39:30.731707392,4.478659,151,37.212610,127.038229

In [234]:
x['s_latitude'] = ''
x['s_longitude'] = ''

In [235]:
for j in range(x.shape[0]):
    for i in range(star_bucks.shape[0]):
        if x.loc[j,'지점명']==star_bucks.loc[i,'지점명']:
            x['s_latitude'] = star_bucks.loc[i,'latitude']
            x['s_longitude'] = star_bucks.loc[i,'longitude']
x

,지점명,아파트명,주소,준공년월,세대,latitude,longitude,아파트유무,s_latitude,s_longitude
163,스타벅스 강동구청DT점,성안마을청구아파트,서울 강동구 풍성로 114-1,2002.07,349.0,37.531677,127.124699,True,35.838824,129.285902
226,스타벅스 강동암사DT점,삼성광나루아파트,서울 강동구 상암로3길 77,2002.11,490.0,37.554106,127.127160,True,35.838824,129.285902
159,스타벅스 강릉송정DT점,포남동주공1차아파트,강원 강릉시 보래미상길 65,1981.1,640.0,37.775578,128.911832,True,35.838824,129.285902
181,스타벅스 경기광주송정DT점,금강펜테리움2단지아파트,경기 광주시 경안천로 145,2010.06,344.0,37.418310,127.274827,True,35.838824,129.285902
234,스타벅스 경기광주신현DT점,e편한세상태재1단지아파트,경기 광주시 오포읍 태재로 20-15,2018.07,480.0,37.358219,127.149894,True,35.838824,129.285902
...,...,...,...,...,...,...,...,...,...,...
207,스타벅스 풍무역DT점,김포풍무꿈에그린유로메트로1단지아파트,경기 김포시 풍무로68번길 39,2014.05,965.0,37.605378,126.722912,True,35.838824,129.285902
240,스타벅스 하남미사DT점,미사강변센트럴자이아파트,경기 하남시 미사강변대로 95,2017.02,1222.0,37.557440,127.185921,True,35.838824,129.285902
53,스타벅스 해운대달맞이DT점,해운대엘시티더샵,부산 해운대구 달맞이길 30,2019.11,882.0,35.159921,129.169756,True,35.838824,129.285902
87,스타벅스 화곡DT점,목동세종그랑시아아파트,서울 양천구 목동중앙남로3가길 59,2003.05,106.0,37.538333,126.864076,True,35.838824,129.285902
179,스타벅스 화성병점DT점,다람마을월드메르디앙2차아파트,경기 화성시 병점4로 37,2005.11,109.0,37.213851,127.035242,True,35.838824,129.285902

In [239]:
x = x.reset_index(drop=True)
x

,지점명,아파트명,주소,준공년월,세대,latitude,longitude,아파트유무,s_latitude,s_longitude
0,스타벅스 강동구청DT점,성안마을청구아파트,서울 강동구 풍성로 114-1,2002.07,349.0,37.531677,127.124699,True,35.838824,129.285902
1,스타벅스 강동암사DT점,삼성광나루아파트,서울 강동구 상암로3길 77,2002.11,490.0,37.554106,127.127160,True,35.838824,129.285902
2,스타벅스 강릉송정DT점,포남동주공1차아파트,강원 강릉시 보래미상길 65,1981.1,640.0,37.775578,128.911832,True,35.838824,129.285902
3,스타벅스 경기광주송정DT점,금강펜테리움2단지아파트,경기 광주시 경안천로 145,2010.06,344.0,37.418310,127.274827,True,35.838824,129.285902
4,스타벅스 경기광주신현DT점,e편한세상태재1단지아파트,경기 광주시 오포읍 태재로 20-15,2018.07,480.0,37.358219,127.149894,True,35.838824,129.285902
...,...,...,...,...,...,...,...,...,...,...
244,스타벅스 풍무역DT점,김포풍무꿈에그린유로메트로1단지아파트,경기 김포시 풍무로68번길 39,2014.05,965.0,37.605378,126.722912,True,35.838824,129.285902
245,스타벅스 하남미사DT점,미사강변센트럴자이아파트,경기 하남시 미사강변대로 95,2017.02,1222.0,37.557440,127.185921,True,35.838824,129.285902
246,스타벅스 해운대달맞이DT점,해운대엘시티더샵,부산 해운대구 달맞이길 30,2019.11,882.0,35.159921,129.169756,True,35.838824,129.285902
247,스타벅스 화곡DT점,목동세종그랑시아아파트,서울 양천구 목동중앙남로3가길 59,2003.05,106.0,37.538333,126.864076,True,35.838824,129.285902
248,스타벅스 화성병점DT점,다람마을월드메르디앙2차아파트,경기 화성시 병점4로 37,2005.11,109.0,37.213851,127.035242,True,35.838824,129.285902

In [240]:
x.to_csv('starbucks_btw_apt_info.csv', sep='\t')

In [74]:
starbucks.to_csv('starbucks_location_info.csv', sep='\t')

In [69]:
for e in edit:
    name = e.split(' ')[1]
    starbucks[starbucks['지점명'].map(lambda x:name in x)] = e

In [71]:
starbucks[starbucks['지점명'].map(lambda x:'울산MBC' in x)] = e

In [92]:
starbucks[starbucks['지점명'].map(lambda x:'울산' in x)]

                 지점명 latitude longitude  SORT
0       스타벅스 울산신정DT점  35.5442   129.325  스타벅스
65   스타벅스 울산중리사거리DT점  35.5439   129.339  스타벅스
66     스타벅스 울산남구청DT점  35.5442   129.325  스타벅스
78    스타벅스 울산정자비치DT점  35.6288   129.441  스타벅스
89   스타벅스 울산시청사거리DT점  35.5372   129.313  스타벅스
129    스타벅스 울산북구청DT점  35.5834   129.359  스타벅스
147  스타벅스 울산도산사거리DT점   35.531    129.33  스타벅스
185     스타벅스 울산호계DT점  35.5834   129.359  스타벅스

In [243]:
 x[x['아파트유무']]

KeyError: "None of [Int64Index([-2, -2, -2, -2, -2, -2, -2, -2, -2, -1,\n            ...\n            -2, -2, -2, -2, -2, -2, -2, -2, -2, -2],\n           dtype='int64', length=249)] are in the [columns]"

In [68]:
edit

array(['스타벅스 울산MBC DT점', '스타벅스 남양산IC DT점', '스타벅스 신월IC DT점',
       '스타벅스 대구성서IC DT점', '스타벅스 수원KBS DT점', '스타벅스 대전IC DT점',
       '스타벅스 천안IC DT점', '스타벅스 수원IC DT점', '스타벅스 오산IC DT점',
       '스타벅스 북수원IC DT점', '스타벅스 북오산IC DT점', '스타벅스 리버사이드팔당DTR점'],
      dtype=object)

In [8]:
starbucks = starbucks.rename(columns={'star_name':'지점명'})

               지점명   latitude   longitude  SORT
0      스타벅스 울산신정DT  35.544170  129.324735  스타벅스
1     스타벅스 경주보문로DT  35.853218  129.268695  스타벅스
2       스타벅스 동수원DT  37.278015  127.033828  스타벅스
3       스타벅스 서귀포DT  33.249525  126.506710  스타벅스
4     스타벅스 구미금오산DT  36.122231  128.323599  스타벅스
..             ...        ...         ...   ...
249   스타벅스 목포터미널DT  34.810017  126.417053  스타벅스
250    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
251     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
252    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
253  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[254 rows x 4 columns]

In [6]:
starbucks = pd.read_csv('starbucks_location_info.csv', sep='\t')
starbucks = starbucks.drop('Unnamed: 0', axis=1)
starbucks

         star_name   latitude   longitude  SORT
0      스타벅스 울산신정DT  35.544170  129.324735  스타벅스
1     스타벅스 경주보문로DT  35.853218  129.268695  스타벅스
2       스타벅스 동수원DT  37.278015  127.033828  스타벅스
3       스타벅스 서귀포DT  33.249525  126.506710  스타벅스
4     스타벅스 구미금오산DT  36.122231  128.323599  스타벅스
..             ...        ...         ...   ...
249   스타벅스 목포터미널DT  34.810017  126.417053  스타벅스
250    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
251     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
252    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
253  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[254 rows x 4 columns]

In [10]:
x['address2'] = x['address'].map(lambda x:x.split('\n')[0] if isinstance(x, str) else x)

In [16]:
x = x[x['address2'].map(lambda x:False if isinstance(x, float) else True)]

In [18]:
x.reset_index(drop=True, inplace=True)
x

,loc_name,address,num_review,address2
0,을왕리해수욕장,인천광역시 중구 을왕로13번길 15,455237,인천광역시 중구 을왕로13번길 15
1,장경리해수욕장,인천광역시 옹진군 영흥면 영흥로757번길 6\n032-899-2114,42274,인천광역시 옹진군 영흥면 영흥로757번길 6
2,하나개해수욕장,인천광역시 중구 무의동 산189번지,69251,인천광역시 중구 무의동 산189번지
3,왕산해수욕장,인천광역시 중구 을왕동,92943,인천광역시 중구 을왕동
4,수기해변,인천광역시 옹진군 북도면 시도로86번길 291-48,34234,인천광역시 옹진군 북도면 시도로86번길 291-48
...,...,...,...,...
9520,강촌 출렁다리공원,강원도 춘천시 남산면 강촌리 671-5\n033-250-3075,930,강원도 춘천시 남산면 강촌리 671-5
9521,강촌 번지점프,강원도 춘천시 남산면 강촌로 256\n033-262-2228,522,강원도 춘천시 남산면 강촌로 256
9522,천등산전통발효식품,충청북도 충주시 산척면 세고개로 277\n043-847-8074,671,충청북도 충주시 산척면 세고개로 277
9523,살둔계곡,강원도 홍천군 내면 살둔길 3\n홍천문화관광 011-430-2471,1393,강원도 홍천군 내면 살둔길 3
9524,소금산,강원도 원주시 지정면 간현리\n원주 문화관광 033-737-5133,1374,강원도 원주시 지정면 간현리

In [181]:
result = pd.read_csv('../company_list/starbucks_btw_apt_info.csv', sep='\t' )
result = result.drop(result.columns[0], axis=1)
result

,지점명,아파트명,주소,준공년월,세대,아파트유무,s_latitude,s_longitude,latitude,longitude
0,스타벅스 강동구청DT점,성안마을청구아파트,서울 강동구 풍성로 114-1,2002.07,349.0,True,37.476169,126.965005,37.531677,127.124699
1,스타벅스 강동암사DT점,삼성광나루아파트,서울 강동구 상암로3길 77,2002.11,490.0,True,37.643938,126.787386,37.554106,127.127160
2,스타벅스 강릉송정DT점,포남동주공1차아파트,강원 강릉시 보래미상길 65,1981.10,640.0,True,35.204197,128.580572,37.775578,128.911832
3,스타벅스 경기광주송정DT점,금강펜테리움2단지아파트,경기 광주시 경안천로 145,2010.06,344.0,True,29.298528,42.550960,37.418310,127.274827
4,스타벅스 경기광주신현DT점,e편한세상태재1단지아파트,경기 광주시 오포읍 태재로 20-15,2018.07,480.0,True,37.189891,127.059202,37.358219,127.149894
...,...,...,...,...,...,...,...,...,...,...
244,스타벅스 풍무역DT점,김포풍무꿈에그린유로메트로1단지아파트,경기 김포시 풍무로68번길 39,2014.05,965.0,True,36.334968,127.396729,37.605378,126.722912
245,스타벅스 하남미사DT점,미사강변센트럴자이아파트,경기 하남시 미사강변대로 95,2017.02,1222.0,True,36.351462,127.339981,37.557440,127.185921
246,스타벅스 해운대달맞이DT점,해운대엘시티더샵,부산 해운대구 달맞이길 30,2019.11,882.0,True,35.242151,129.220117,35.159921,129.169756
247,스타벅스 화곡DT점,목동세종그랑시아아파트,서울 양천구 목동중앙남로3가길 59,2003.05,106.0,True,36.638517,127.459838,37.538333,126.864076
248,스타벅스 화성병점DT점,다람마을월드메르디앙2차아파트,경기 화성시 병점4로 37,2005.11,109.0,True,35.814602,127.123425,37.213851,127.035242

In [185]:
star_df = result[['지점명', 's_latitude', 's_longitude']]
star_df = star_df.rename(columns={'s_latitude' : 'latitude', 's_longitude': 'longitude' })
apt_df = result[['아파트명', 'latitude', 'longitude']]

In [187]:
apt_df.to_c

                    아파트명   latitude   longitude
0              성안마을청구아파트  37.531677  127.124699
1               삼성광나루아파트  37.554106  127.127160
2             포남동주공1차아파트  37.775578  128.911832
3           금강펜테리움2단지아파트  37.418310  127.274827
4          e편한세상태재1단지아파트  37.358219  127.149894
..                   ...        ...         ...
244  김포풍무꿈에그린유로메트로1단지아파트  37.605378  126.722912
245         미사강변센트럴자이아파트  37.557440  127.185921
246             해운대엘시티더샵  35.159921  129.169756
247          목동세종그랑시아아파트  37.538333  126.864076
248      다람마을월드메르디앙2차아파트  37.213851  127.035242

[249 rows x 3 columns]

In [186]:
star_df

                지점명   latitude   longitude
0      스타벅스 강동구청DT점  37.476169  126.965005
1      스타벅스 강동암사DT점  37.643938  126.787386
2      스타벅스 강릉송정DT점  35.204197  128.580572
3    스타벅스 경기광주송정DT점  29.298528   42.550960
4    스타벅스 경기광주신현DT점  37.189891  127.059202
..              ...        ...         ...
244     스타벅스 풍무역DT점  36.334968  127.396729
245    스타벅스 하남미사DT점  36.351462  127.339981
246  스타벅스 해운대달맞이DT점  35.242151  129.220117
247      스타벅스 화곡DT점  36.638517  127.459838
248    스타벅스 화성병점DT점  35.814602  127.123425

[249 rows x 3 columns]

In [245]:
result = x.copy()

In [258]:
result[result['longitude'].isnull()]

Empty DataFrame
Columns: [지점명, 아파트명, 주소, 준공년월, 세대, latitude, longitude, 아파트유무, s_latitude, s_longitude]
Index: []

In [257]:
for i in [9, 10, 15]:
    result.loc[i, 'latitude'] = 0
    result.loc[i, 'longitude'] = 0

In [272]:
merged_df

,지점명,아파트명,주소,준공년월,세대,latitude_x,longitude_x,address,dates,scores,reviews,latitude_y,longitude_y
0,스타벅스 국립대구박물관DT점,황금동캐슬골드파크1단지아파트,대구 수성구 청수로 213,2006.07,1059.0,35.840524,128.631260,황금동 69-3 64-5,2020-04-09 18:22:58.723404288,4.744681,45,35.845552,128.639088
1,스타벅스 대구영대병원역DT점,봉덕동우인그레이스아파트,대구 남구 중앙대로 114,2016.01,16.0,35.843372,128.591002,봉덕동 595-7,2020-04-08 01:06:58.604651264,4.744186,78,35.845473,128.593525
2,스타벅스 경주터미널DT점,동부이끌림6차,경북 경주시 금성로247번길 15,2014.06,50.0,35.839487,129.205381,사정동 488-7 8,2020-01-14 13:14:28.965517312,4.741379,220,35.838169,129.203326
3,스타벅스 대구수성네거리DT점,롬바드아파트,대구 수성구 들안로 325,2011.07,108.0,35.859002,128.616837,수성동4가 1021-8,2019-11-26 12:05:10.791366912,4.733813,128,35.860458,128.618042
4,스타벅스 광주매곡DT점,용봉주공아파트,광주 북구 매곡로 20,NaN,NaN,35.186686,126.896046,매곡동 15,2019-11-06 12:13:20.000000000,4.724537,204,35.189836,126.898698
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,스타벅스 울산중리사거리DT점,평창현대3차아파트,울산 남구 삼산중로128번길 21,1995.10,782.0,35.545575,129.338270,삼산동 1545-5,2020-01-05 08:00:00.000000000,4.272109,136,35.543880,129.338683
245,스타벅스 리버사이드팔당DTR점,한강우성아파트,경기 남양주시 와부읍 덕소로 270,1998.07,1488.0,37.577522,127.222988,도곡리 504-15,2020-01-30 14:54:47.861271552,4.173410,321,37.567097,127.228378
246,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,NaN,천군동 1584-33 외 1번지(신평동 719-220),2020-01-14 18:44:40.291970816,4.635036,128,35.838824,129.285902
247,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,NaN,학봉리 436-1,2020-02-28 15:08:06.486486528,4.567568,106,36.363360,127.253563
248,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,NaN,북군동 57-40 1~3층,2019-12-11 14:58:27.692307712,4.534188,114,35.853239,129.268688

In [277]:
merged_df.loc[0, 'latitude_y'] = 36.496008
merged_df.loc[0, 'longitude_y'] =  127.254332
merged_df.loc[0, 'latitude_x'] = 36.48685140000001
merged_df.loc[0, 'longitude_x'] = 127.2526621

In [290]:
def get_distance(row):
    try:
        return geopy.distance.vincenty((row.latitude_x,row.longitude_x), (row.latitude_y,row.longitude_y)).km
    except:
        return 9999
merged_df['distance'] = merged_df.apply(lambda row:get_distance(row), axis=1)
merged_df

<ipython-input-290-75b7c884eeb7>:3: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  return geopy.distance.vincenty((row.latitude_x,row.longitude_x), (row.latitude_y,row.longitude_y)).km

,지점명,아파트명,주소,준공년월,세대,latitude_x,longitude_x,address,dates,scores,reviews,latitude_y,longitude_y,distance
0,스타벅스 광주신안DT점,용봉신안고운하이플러스,광주 북구 서암대로 95-29,NaN,NaN,35.171908,126.895727,신안동 333,2020-02-14 00:15:14.285714176,4.687831,178,35.171433,126.894966,0.087120
1,스타벅스 안양호계DT점,내안애팰리스,경기 안양시 동안구 흥안대로94번길 68,2009.12,100.0,37.366460,126.957043,호계동 714-5,2020-01-06 12:48:00.000000000,4.566667,141,37.366560,126.956012,0.092011
2,스타벅스 김해진영DT점,대한아파트,경남 김해시 진영읍 여래로20번길 64-63,1995.06,100.0,35.305166,128.730816,경상남도 김해시 진영읍 진영리 81,2020-06-13 10:17:08.571428608,4.328571,32,35.305895,128.731391,0.096258
3,스타벅스 광주신세계DT점,화정동삼익맨션1차아파트,광주 서구 죽봉대로 31,1979.07,276.0,35.156036,126.881761,화정동 177-2,2020-03-01 06:30:41.860465152,4.523256,116,35.156247,126.882796,0.097214
4,스타벅스 수원권선DT점,오목천서희스타힐스아파트,경기 수원시 권선구 온정로9번길 36 서희스타힐스아파트,2016.12,844.0,37.247362,126.964482,오목천동 321-20,2019-12-19 21:53:28.368200960,4.679916,202,37.246362,126.964017,0.118391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,스타벅스 전남광양DT점,광양e편한세상아파트,전남 광양시 시청로 62,2016.06,440.0,34.939780,127.696888,전라남도 광양시 중동 1321-5,2020-03-12 17:25:42.857142784,4.616071,157,34.943108,127.697944,0.381647
245,스타벅스 해운대달맞이DT점,해운대엘시티더샵,부산 해운대구 달맞이길 30,2019.11,882.0,35.159921,129.169756,부산광역시 해운대구 중동 달맞이길 57,2019-12-20 21:39:30.731707392,4.626016,118,35.161563,129.171237,0.226686
246,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,NaN,학봉리 436-1,2020-02-28 15:08:06.486486528,4.567568,106,36.363360,127.253563,9999.000000
247,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,NaN,천군동 1584-33 외 1번지(신평동 719-220),2020-01-14 18:44:40.291970816,4.635036,128,35.838824,129.285902,9999.000000
248,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,NaN,북군동 57-40 1~3층,2019-12-11 14:58:27.692307712,4.534188,114,35.853239,129.268688,9999.000000

In [291]:
merged_df = merged_df.sort_values('distance').reset_index(drop=True)
merged_df

,지점명,아파트명,주소,준공년월,세대,latitude_x,longitude_x,address,dates,scores,reviews,latitude_y,longitude_y,distance
0,스타벅스 대구중동DT점,수성효성해링턴플레이스,대구 수성구 희망로24길 24,2020.02,745.0,35.846178,128.611432,대구 수성구 희망로24길 24,2020-01-19 11:18:20.826446336,4.479339,113,35.846206,128.611414,0.003546
1,스타벅스 광주신안DT점,용봉신안고운하이플러스,광주 북구 서암대로 95-29,NaN,NaN,35.171908,126.895727,신안동 333,2020-02-14 00:15:14.285714176,4.687831,178,35.171433,126.894966,0.087120
2,스타벅스 안양호계DT점,내안애팰리스,경기 안양시 동안구 흥안대로94번길 68,2009.12,100.0,37.366460,126.957043,호계동 714-5,2020-01-06 12:48:00.000000000,4.566667,141,37.366560,126.956012,0.092011
3,스타벅스 김해진영DT점,대한아파트,경남 김해시 진영읍 여래로20번길 64-63,1995.06,100.0,35.305166,128.730816,경상남도 김해시 진영읍 진영리 81,2020-06-13 10:17:08.571428608,4.328571,32,35.305895,128.731391,0.096258
4,스타벅스 광주신세계DT점,화정동삼익맨션1차아파트,광주 서구 죽봉대로 31,1979.07,276.0,35.156036,126.881761,화정동 177-2,2020-03-01 06:30:41.860465152,4.523256,116,35.156247,126.882796,0.097214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,스타벅스 남양산IC DT점,양우내안애6차에코뷰,경남 양산시 동면 금오15길 29,2017.05,581.0,35.364263,129.048569,석산리 966,2020-03-20 02:38:57.662337536,4.668831,143,35.319462,129.030691,5.229449
245,스타벅스 광주선운DT점,선운이지더원2단지아파트,광주 광산구 선운중앙로 43,2014.07,378.0,35.149434,126.775025,광주광역시 광산구 수완동 699-27,2020-04-14 09:24:42.352941056,4.607843,45,35.203230,126.818724,7.173968
246,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,NaN,천군동 1584-33 외 1번지(신평동 719-220),2020-01-14 18:44:40.291970816,4.635036,128,35.838824,129.285902,9999.000000
247,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,NaN,학봉리 436-1,2020-02-28 15:08:06.486486528,4.567568,106,36.363360,127.253563,9999.000000
248,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,NaN,북군동 57-40 1~3층,2019-12-11 14:58:27.692307712,4.534188,114,35.853239,129.268688,9999.000000

In [292]:
merged_df.sort_values('distance')[-20:]

,지점명,아파트명,주소,준공년월,세대,latitude_x,longitude_x,address,dates,scores,reviews,latitude_y,longitude_y,distance
229,스타벅스 충남보령DT점,금성백조예미지2차아파트,충남 보령시 명천동 산38-9,2019.11,517.0,36.336587,126.606558,궁촌동 133-1,2020-04-10 07:02:45.137614592,4.564220,99,36.340825,126.589325,1.617040
230,스타벅스 김해대로DT점,김해부원역푸르지오아파트,경남 김해시 김해대로 2326,2014.08,915.0,35.240344,128.887075,삼정동 616-5,2019-11-15 22:02:47.441860352,4.616279,82,35.227964,128.896554,1.621994
231,스타벅스 제주용담DT점,가나아파트,제주 제주시 성화로1길 33,1992.12,19.0,33.512638,126.503278,용담삼동 2572-4 화이트하우스,2020-01-09 15:44:03.983402496,4.470954,232,33.512345,126.484564,1.739006
232,스타벅스 창원역DT점,창원중동유니시티1단지아파트,경남 창원시 의창구 중동로 34,2019.06,1803.0,35.255028,128.627305,팔용동 157-2,2020-01-07 06:53:16.412556032,4.580717,213,35.256975,128.607882,1.780722
233,스타벅스 서산예천DT점,e편한세상서산예천아파트,충남 서산시 동서1로 230,2017.02,936.0,36.769469,126.461940,예천동 696-7,2020-02-25 14:58:47.516778496,4.604027,139,36.771726,126.440171,1.959588
234,스타벅스 광주용두DT점,광주첨단2지구제일풍경채리버파크아파트,광주 북구 첨단연신로 216,2014.05,613.0,35.228926,126.859210,광주 북구 신용동 산41-19,2020-02-23 19:34:31.508379904,4.508380,167,35.212795,126.868474,1.978424
235,스타벅스 인천송도DT점,송도웰카운티4단지아파트,인천 연수구 해송로30번길 20,2010.02,465.0,37.381629,126.644370,송도동 8-17 레인보우빌딩,2020-02-05 08:19:35.510204160,4.466837,183,37.399414,126.629756,2.360329
236,스타벅스 김해외동DT점,e편한세상봉황역,경남 김해시 김해대로2324번길 54-27,2017.06,936.0,35.240344,128.887075,경남 김해시 외동 559 1~2층,2020-02-01 19:52:15.483870976,4.569892,85,35.229366,128.862798,2.523321
237,스타벅스 광주주월DT점,힐스테이트백운아파트,광주 남구 회재로1293번길 7,2016.09,528.0,35.153795,126.912529,주월동 960-13,2020-03-25 18:00:00.000000000,4.700893,105,35.134139,126.898137,2.544690
238,스타벅스 평촌역DT점,인덕원푸르지오엘센트로,경기 의왕시 안양판교로 100,2019.11,1774.0,37.392017,127.000281,관양동 902 1필지,2020-04-20 07:56:13.228346368,4.484252,112,37.396568,126.971616,2.588050
239,스타벅스 포항장성DT점,포항장성두산위브더제니스아파트,경북 포항시 북구 새천년대로 1235,2010.12,1713.0,36.051351,129.373009,장성동 1577-8,2020-02-06 00:00:00.000000000,4.622581,149,36.074535,129.384214,2.763499
240,스타벅스 구미상모DT점,구미상모한신휴플러스아파트,경북 구미시 박정희로 76-1,2015.11,998.0,36.107596,128.352922,상모동 478-5 상모주유소,2020-02-18 10:31:50.204081664,4.625000,190,36.082317,128.356385,2.822201
241,스타벅스 광주효천DT점,광주효천중흥S클래스아파트,광주 남구 효우로 332-11,2015.07,662.0,35.104157,126.903009,임암동 141-3 143-2,2020-04-02 20:55:23.076923136,4.583333,68,35.099919,126.871467,2.914006
242,스타벅스 신림DT점,라이프미성아파트,서울 관악구 조원로2길 13,1982.10,280.0,37.482449,126.903521,신림동 564-12,2020-01-30 00:00:00.000000000,4.471591,168,37.462618,126.938325,3.784581
243,스타벅스 원당DT점,어울림마을동신7단지아파트,경기 고양시 덕양구 호국로 754,1992.11,390.0,37.676286,126.874897,주교동 620-1,2020-02-02 01:21:00.000000000,4.584375,147,37.658153,126.837620,3.855791
244,스타벅스 남양산IC DT점,양우내안애6차에코뷰,경남 양산시 동면 금오15길 29,2017.05,581.0,35.364263,129.048569,석산리 966,2020-03-20 02:38:57.662337536,4.668831,143,35.319462,129.030691,5.229449
245,스타벅스 광주선운DT점,선운이지더원2단지아파트,광주 광산구 선운중앙로 43,2014.07,378.0,35.149434,126.775025,광주광역시 광산구 수완동 699-27,2020-04-14 09:24:42.352941056,4.607843,45,35.203230,126.818724,7.173968
246,스타벅스 경주보문로DT점,NaN,NaN,NaN,NaN,NaN,NaN,천군동 1584-33 외 1번지(신평동 719-220),2020-01-14 18:44:40.291970816,4.635036,128,35.838824,129.285902,9999.000000
247,스타벅스 공주동학사DT점,NaN,NaN,NaN,NaN,NaN,NaN,학봉리 436-1,2020-02-28 15:08:06.486486528,4.567568,106,36.363360,127.253563,9999.000000
248,스타벅스 경주보문호수DT점,NaN,NaN,NaN,NaN,NaN,NaN,북군동 57-40 1~3층,2019-12-11 14:58:27.692307712,4.534188,114,35.853239,129.268688,9999.000000

In [289]:
merged_df.loc[237, 'address'] = '대구 수성구 희망로24길 24'
merged_df.loc[237, 'latitude_y'] = 35.846206
merged_df.loc[237, 'longitude_y'] = 128.611414

merged_df.loc[238, 'address'] = '인천광역시 남구 학익1동 매소홀로 368'
merged_df.loc[238, 'latitude_y'] = 37.440475
merged_df.loc[238, 'longitude_y'] = 126.662757

merged_df.loc[239, 'address'] = '경기도 여주군 여주읍 점봉리 429-12'
merged_df.loc[239, 'latitude_y'] = 37.266224
merged_df.loc[239, 'longitude_y'] = 127.638154

merged_df.loc[240, 'address'] = '전라남도 목포시 상동 131-10'
merged_df.loc[240, 'latitude_y'] = 34.810210
merged_df.loc[240, 'longitude_y'] = 126.417107

merged_df.loc[241, 'address'] = '광주광역시 광산구 수완동 699-27'
merged_df.loc[241, 'latitude_y'] = 35.203230
merged_df.loc[241, 'longitude_y'] = 126.818724

merged_df.loc[242, 'address'] = '경상북도 포항시 남구 상대동 601-2'
merged_df.loc[242, 'latitude_y'] = 36.015594
merged_df.loc[242, 'longitude_y'] = 129.353048

merged_df.loc[243, 'address'] = '울산광역시 북구 농소2동 546-2'
merged_df.loc[243, 'latitude_y'] = 35.637989
merged_df.loc[243, 'longitude_y'] = 129.345312

merged_df.loc[244, 'address'] = '전라남도 광양시 중동 1321-5'
merged_df.loc[244, 'latitude_y'] = 34.943108
merged_df.loc[244, 'longitude_y'] = 127.697944

merged_df.loc[245, 'address'] = '부산광역시 해운대구 중동 달맞이길 57'
merged_df.loc[245, 'latitude_y'] = 35.161563
merged_df.loc[245, 'longitude_y'] = 129.171237

In [294]:
merged_df.to_csv('final_starbucks_apt_distance_information.csv', sep='\t')

In [202]:
def set_coordinates(df, idx, coords):
    df.loc[idx, 's_latitude'] = coords[0]
    df.loc[idx, 's_longitude'] = coords[1]
    print(df.loc[idx, 's_latitude'], df.loc[idx, 's_longitude'])

In [210]:
set_coordinates(result, 195, (37.4403818, 126.6627574))
set_coordinates(result, 16, (37.4391914, 126.9937285))
set_coordinates(result, 213, (37.1436702, 128.2132028))
set_coordinates(result, 100, (37.520177, 129.114759))
set_coordinates(result, 215, (35.1748448, 128.0929016))
set_coordinates(result, 3, (37.409785, 127.260213))
set_coordinates(result, 93, (37.888925, 127.0570663))
set_coordinates(result, 168, (35.5310243, 129.3301122))
result.loc[120, 'latitude'] = 36.48685140000001
result.loc[120, 'longitude'] = 127.2526621

37.4403818 126.6627574
37.4391914 126.9937285
37.1436702 128.2132028
37.520177 129.114759
35.1748448 128.0929016
37.409785 127.260213
37.888925 127.0570663
35.5310243 129.3301122

In [214]:
result.to_csv('starbucks_apt_info_20200703.csv', sep='\t')

result.loc[195, 's_latitude'], result.loc[195, 's_longiutde'] = 37.4403818, 126.6627574
result.loc[16, 's_latitude'], result.loc[16, 's_longiutde'] = 37.4391914, 126.9937285
result.loc[213, 's_latitude'], result.loc[213, 's_longiutde'] = 37.1436702, 128.2132028
result.loc[100, 's_latitude'], result.loc[100, 's_longiutde'] = 37.520177, 129.114759
result.loc[215, 's_latitude'], result.loc[215, 's_longiutde'] = 35.1748448, 128.0929016
result.loc[3, 's_latitude'], result.loc[3, 's_longiutde'] = 37.409785, 127.260213

In [19]:
travel_df = x[['loc_name', 'address2', 'num_review']]
travel_df = travel_df.rename(columns={'address2':'address'})
travel_df

       loc_name                       address  num_review
0       을왕리해수욕장           인천광역시 중구 을왕로13번길 15      455237
1       장경리해수욕장      인천광역시 옹진군 영흥면 영흥로757번길 6       42274
2       하나개해수욕장           인천광역시 중구 무의동 산189번지       69251
3        왕산해수욕장                  인천광역시 중구 을왕동       92943
4          수기해변  인천광역시 옹진군 북도면 시도로86번길 291-48       34234
...         ...                           ...         ...
9520  강촌 출렁다리공원         강원도 춘천시 남산면 강촌리 671-5         930
9521    강촌 번지점프           강원도 춘천시 남산면 강촌로 256         522
9522  천등산전통발효식품         충청북도 충주시 산척면 세고개로 277         671
9523       살둔계곡              강원도 홍천군 내면 살둔길 3        1393
9524        소금산               강원도 원주시 지정면 간현리        1374

[9525 rows x 3 columns]

In [20]:
travel_df.to_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/2020-07-02_18_46_travel_crawl.csv', sep='\t')

In [28]:
travel_df = travel_df.drop_duplicates('loc_name')

In [31]:
travel_df = travel_df.drop_duplicates('address').reset_index(drop=True)

In [33]:
travel_df.to_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/2020-07-02_18_46_travel_crawl.csv', sep='\t')

In [21]:
start_bucks_dt = pd.read_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/mac/ST_MAC2_DT.csv', sep='\t')
start_bucks_dt = start_bucks_dt.drop('Unnamed: 0', axis=1)
start_bucks_dt

          mac_name   latitude   longitude  SORT
0       맥도날드 양평SK점  37.530980  126.893343  맥도날드
1     맥도날드 양천구청DT점  37.515464  126.862954  맥도날드
2        맥도날드 고척DT  37.497228  126.863535  맥도날드
3       맥도날드 염창DT점  37.552891  126.870164  맥도날드
4       맥도날드 서초GS점  37.486421  127.009869  맥도날드
..             ...        ...         ...   ...
465   스타벅스 목포터미널DT  34.810016  126.417053  스타벅스
466    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
467     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
468    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
469  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[470 rows x 4 columns]

In [24]:
start_bucks_dt = start_bucks_dt[start_bucks_dt.SORT=='스타벅스'].reset_index(drop=True)

In [26]:
start_bucks_dt = start_bucks_dt.rename(columns={'mac_name':'star_name'})
start_bucks_dt

         star_name   latitude   longitude  SORT
0      스타벅스 울산신정DT  35.544170  129.324735  스타벅스
1     스타벅스 경주보문로DT  35.853218  129.268695  스타벅스
2       스타벅스 동수원DT  37.278015  127.033828  스타벅스
3       스타벅스 서귀포DT  33.249525  126.506710  스타벅스
4     스타벅스 구미금오산DT  36.122231  128.323599  스타벅스
..             ...        ...         ...   ...
249   스타벅스 목포터미널DT  34.810016  126.417053  스타벅스
250    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
251     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
252    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
253  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[254 rows x 4 columns]

In [34]:
start_bucks_dt.to_csv('starbucks_location_info.csv', sep='\t')

In [22]:
import pandas as pd
import geopy.distance


def get_distances_with_df(df1, df2, df1_basis, df2_basis):
    rows = []
    for j in range(df1.shape[0]):
        loc_name1 = df1.loc[j][df1_basis]
        coord1 = (df1.loc[j].latitude, df1.loc[j].longitude)
        for i in range(df2.shape[0]):
            loc_name2 = df2.loc[i][df2_basis]
            coord2 = (df2.loc[i].latitude, df2.loc[i].longitude)
            distance = geopy.distance.vincenty(coord1, coord2).km
            row = {
                df1_basis : loc_name1,
                df2_basis : loc_name2,
                'distance': distance
            }
            rows.append(row)
    return rows


def find_mindist_starbucks(groupped_df, basis_name='star_name'):
    new_df = {}
#     groupped_df = groupped_df.reset_index(drop=True)
    groupped_df = groupped_df.sort_values(by='distance').reset_index(drop=True)
    new_df['distance'] = groupped_df.loc[:2]['distance']
    new_df[basis_name] = groupped_df.loc[:2][basis_name]

    return pd.Series(new_df, index=[basis_name, 'distance'])



def main():
    loc_info = pd.read_csv('../data/mac/ST_MAC2_DT.csv', sep='\t')
    loc_info_mac = loc_info[loc_info.SORT == '맥도날드']
    loc_info_star = loc_info[loc_info.SORT == '스타벅스']
    loc_info_star = loc_info_star.reset_index().drop('index', axis=1)

    loc_info_mac = loc_info_mac.drop_duplicates().reset_index(drop=True)

    rows = get_distances_with_st(loc_info_mac, loc_info_star)
    mac_star_distance = pd.DataFrame(rows)
    mac_star_distance2 = mac_star_distance.groupby(['mac_name']).apply(find_mindist_starbucks)
    mac_star_distance3 = mac_star_distance2.reset_index()
    mac_star_distance3.to_csv('data/mac_star_distance2.csv', sep='\t')

# if __name__ == '__main__':;;
#     main()

In [ ]:
rows = get_distances_with_df(start_bucks_dt, travel_df, 'star_name', '')

In [29]:
import urllib
import json
from pprint import pprint


url = "http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline"

ServiceKey = "2cJ3wHYxZ7tLO8fc%2FU6B8jutjQd%2F6FjQBmBZMBljRnfA2uWyeUx1BfUrPL9PLA2oKiAAaUkSOGLiPErkfSXecQ%3D%3D"
company = urllib.parse.quote('디아이동일')
ServiceKey = urllib.parse.unquote(ServiceKey)
query = f"http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline?pageNo=1&numOfRows=1&resultType=xml&fnccmpNm={company}&serviceKey={ServiceKey}"
print(query)
request = urllib.request.Request(query)

response = urllib.request.urlopen(request)
rescode = response.getcode()
response_body = ''
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
    dict_ = json.loads(response_body.decode('utf-8'))
    pprint(dict_)
# else:
#     print("Error Code:" + rescode)

http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline?pageNo=1&numOfRows=1&resultType=xml&fnccmpNm=%EB%94%94%EC%95%84%EC%9D%B4%EB%8F%99%EC%9D%BC&serviceKey=2cJ3wHYxZ7tLO8fc/U6B8jutjQd/6FjQBmBZMBljRnfA2uWyeUx1BfUrPL9PLA2oKiAAaUkSOGLiPErkfSXecQ==
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<response>
    <header>
        <resultCode>00</resultCode>
        <resultMsg>NORMAL SERVICE.</resultMsg>
    </header>
    <body>
        <numOfRows>1</numOfRows>
        <pageNo>1</pageNo>
        <totalCount>1221990</totalCount>
        <items>
            <item>
                <actnAudpnNm></actnAudpnNm>
                <audtRptOpnnCtt></audtRptOpnnCtt>
                <basDt>20200627</basDt>
                <bzno></bzno>
                <corpDcd></corpDcd>
                <corpDcdNm></corpDcdNm>
                <corpEnsnNm></corpEnsnNm>
                <corpNm>(유)서해푸드</corpNm>
                <corpRegMrktDcd></corpRegMrktDcd>
                <corpRegMrktDcdNm></corpRegMrktDcdNm>
                <crno>2148140009471</crno>
                <empeAvgCnwkTermCtt></empeAvgCnwkTermCtt>
                <enpBsadr>전라북도 김제시</enpBsadr>
                <enpDtadr>순동2길 201 (순동)</enpDtadr>
                <enpEmpeCnt>0</enpEmpeCnt>
                <enpEstbDt></enpEstbDt>
                <enpFxno></enpFxno>
                <enpHmpgUrl></enpHmpgUrl>
                <enpKosdaqLstgAbolDt></enpKosdaqLstgAbolDt>
                <enpKosdaqLstgDt></enpKosdaqLstgDt>
                <enpKrxLstgAbolDt></enpKrxLstgAbolDt>
                <enpKrxLstgDt></enpKrxLstgDt>
                <enpMainBizNm></enpMainBizNm>
                <enpMntrBnkNm></enpMntrBnkNm>
                <enpOzpno></enpOzpno>
                <enpPbanCmpyNm></enpPbanCmpyNm>
                <enpPn1AvgSlryAmt>0</enpPn1AvgSlryAmt>
                <enpRprFnm></enpRprFnm>
                <enpStacMm></enpStacMm>
                <enpTlno>01086737717</enpTlno>
                <enpXchgLstgAbolDt></enpXchgLstgAbolDt>
                <enpXchgLstgDt></enpXchgLstgDt>
                <fssCorpChgDtm></fssCorpChgDtm>
                <fssCorpUnqNo></fssCorpUnqNo>
                <sicNm></sicNm>
                <smenpYn></smenpYn>
            </item>
        </items>
    </body>
</response>

JSONDecodeError: Expecting value: line 1 column 1 (char 0)